.panel.panel-default.panel-rounded
  .panel-heading
    %h4.panel-title
      %span.text-info.hidden-phone Estimate Requested:
      %small
        = job.created_at.to_s(:date)
  #js-collapse-one.panel-collapse.collapse.in
    .panel-body
      .one-column-table
        %table.table.table-borderless
          %tr
            %td
              %b Car
            %td{ colspan: 3 }
              = job.car.display_title
          - job_breakdown(job).each_with_index do |row, i|
            %tr.tr-divider
              %td
                - if i == 0
                  %b Service
              %td
                = row[:title]
              %td
              %td.text-right
                = row[:value]
          - job_totals(job).each do |row|
            %tr
              %td
              %td
              %td.text-right
                %b= row[:title]
              %td.text-right{ style: 'width: 20%' }
                = row[:value]

      = link_to 'Book Appointment', edit_users_appointment_path(job), class: 'btn btn-success pull-right' if job.estimated?
