.panel.panel-default.panel-rounded
  .panel-heading
    %h4.panel-title
      %span.text-info.hidden-phone Estimate Requested:
      %small
        = job.created_at.to_s(:date)
  #js-collapse-one.panel-collapse.collapse.in
    .panel-body
      .table-responsive
        %table.table.table-borderless
          %tr
            %td
              %b Car
            %td
              = job.car.display_title
          %tr.tr-divider
            - job.tasks.each do |task|
              %td
                %b= task.type
              %td
                = task.title
              %td
              %td.text-right= number_to_currency task.cost
          %tr
            %td
              %b Billing
            %td
            %td
              %b Total Fees
            %td.text-right
              - if job.cost
                %b= number_to_currency job.cost
              - else
                pending
      = link_to 'Book Appointment', edit_users_appointment_path(job), class: 'btn btn-success pull-right' if job.estimated?
