.panel.panel-default.panel-rounded
  .panel-heading
    %h4.panel-title
      %span.text-info= job.client_name
  .panel-body
    .alert.alert-info
      %i.icon-time
      = job.scheduled_at.to_s(:time_day_month)
      %i.icon-map-marker
      = job.location.full_address
    .table-responsive
      %table.table.table-borderless
        %tr
          %td
            %b Car:
          %td
            = job.car.display_title
        - job_breakdown(job).each_with_index do |row, i|
          %tr.tr-divider
            %td
              - if i == 0
                %b Service:
            %td= row[:title]
            %td
            %td.text-right= row[:value]
        - job_totals(job).each do |row|
          %tr
            %td
            %td
            %td.text-right
              %b= row[:title]
            %td.text-right{ style: 'width: 20%' }
              %b= row[:value]

    = link_to 'View Details', mechanics_job_path(job), class: 'btn btn-success pull-right'
