.row
  .col-md-12
    .panel.panel-default.panel-rounded
      .panel-heading.clearfix
        %h4.panel-title
          %i.glyphicon.glyphicon-user
          Edit Profile
      .panel-body.mechanic-panel-body
        = simple_form_for current_user, url: users_profile_path, html: { class: 'form-horizontal user_form', :multipart => true }, defaults: { input_html: { class: 'form-control', wrapper_classes: 'col-md-6' }, label_html: { class: 'col-md-3' }, as: :bootstrap_horizontal_text } do |f|
          = f.error_notification
          = f.input :first_name
          = f.input :last_name
          = f.input :email
          = f.input :dob, label: 'Date of birth', input_html: { class: 'form-control' }, start_year: Date.today.year - 60, end_year: Date.today.year - 18, input_html: { wrapper_classes: 'col-md-9' }, as: :bootstrap_horizontal_time
          = f.input :mobile_number
          = f.input :description, label: 'Personal description', as: :bootstrap_horizontal_textarea
          = f.input :avatar, label: 'Photo', as: :bootstrap_horizontal_image
          %hr.hr-dark-gray
          .form-group
            .col-md-offset-3.col-md-6
              = f.submit 'Save', class: 'btn btn-primary col-md-3'
              %span &nbsp;or #{ link_to 'cancel', users_profile_path }
