= render 'admins/mechanics/header'
.pull-right
  = render 'admins/mechanics/more_actions'
.clearfix
%hr.hr-dark-gray

.row
  .col-md-3
    = render 'admins/mechanics/sidebar_menu'
  .col-md-9
    .panel.panel-default.panel-rounded.locked-form
      .panel-heading
        %a.pull-right.unlock-form{ href: '#' }
          %i.icon-pencil
          Edit
        %h4.panel-title
          %i.icon-credit-card
          Payments
      .panel-body
        = simple_form_for @mechanic, url: admins_mechanic_payout_method_path(@mechanic), html: { class: 'form-horizontal' }, defaults: { label_html: { class: 'col-md-2 col-sm-2' } }, wrapper: :bootstrap_horizontal do |f|
          = f.simple_fields_for :payout_method do |p|
            = p.input :account_name
            = p.input :account_number
            = p.input :bsb_number

          %hr.hr-dark-gray
          .form-group
            .col-md-offset-2.col-md-6
              = f.submit 'Save', class: 'btn btn-primary col-md-3'
