.row.repair-form
  .col-md-4
    = f.simple_fields_for :tasks, Repair.new, child_index: '', defaults: { label: false, required: true } do |t|
      = t.hidden_field :id, value: '{{task.id}}'
      = t.hidden_field :_destroy, value: '{{task._destroy}}'
      = t.hidden_field :type, value: 'Repair'
      = t.input :title, placeholder: 'Title', input_html: { 'ng-model' => 'task.title', 'ng-focus' => 'task.editing = true' }
      = t.input :note, placeholder: 'Note for mechanic', input_html: { 'ng-model' => 'task.note', 'ng-focus' => 'task.editing = true' }
  .col-md-2
    %a.btn.btn-success.btn-sm{ href: '', 'ng-click' => 'task.editing = false' } Done
