.panel.nested-panel.clearfix
  .col-md-7.right-border
    %p
      %b.text-info
        = job.user.full_name
    %p
      %i.glyphicon.glyphicon-play
      = job.car.display_title
    %p
      - job.tasks.each do |task|
        %b #{ task.type }:
        = task.title
  .col-md-5
    %p
      %i.glyphicon.glyphicon-time
      = job.date.to_s(:date_time)
    %p
      %i.glyphicon.glyphicon-map-marker
      = job.location.full_address
    = link_to 'View Details', mechanics_job_path(job), class: 'pull-right btn btn-info'
