.row
  .col-md-12
    .clearfix
    .panel.panel-default.panel-rounded
      .panel-body.clearfix
        .alert.alert-info
          %h4
            %span.black Appointment on:
            = @job.scheduled_at.to_s :date_time_short
        .panel.nested-panel.clearfix
          .row
            .col-md-7.col-sm-7.right-border
              %p
                Job ID:
                %b= @job.uid
              %p
                Job received date:
                %b= @job.assigned_at.to_s(:date_short)
              %p
                Client Name:
                %b= @job.user.full_name
            .col-md-5.col-sm-5
              %p
                %i.icon-map-marker
                = @job.location.full_address
              %p
                %i.icon-phone
                = @job.contact_phone
              %p
                %i.icon-truck
                = @job.car.display_title
      .col-md-12.completed-job-details
        %h4.hx-default Job and Labour
        = render partial: 'task', collection: @job.tasks, as: :task
        - job_totals(@job).each do |row|
          .row.total
            .col-md-6.col-md-offset-4.col-sm-3.col-sm-offset-7.col-xs-12
              %h4.text-right= row[:title]
            .col-md-2.col-sm-2
              %h4.text-right= row[:value]

      .col-md-12.completed-job-details.clearfix
        %h4.hx-default Feedback
        .panel.nested-panel.feedback
          - if @job.rated?
            = render 'shared/feedback', rating: @job.rating
          - else
            %h5.text-center No feedback yet
