%section
  .row
    .col-md-12
      = link_to mechanics_jobs_path, class: 'btn btn-info pull-right bottom-margin' do
        %i.icon-chevron-left
        Back to My jobs
  .panel.panel-default.panel-rounded
    .panel-body
      .alert.alert-info
        %span.black Appointment on:
        = @job.scheduled_at.to_s(:time_day_month)
      .table-responsive
        %table.table.table-borderless.upcoming-job-details
          %tr.tr-divider
            %th Client
            %td
              %p= @job.client_name
              %p= @job.location.full_address
              - if @job.contact_phone
                %p
                  %i.icon.icon-phone
                  = @job.contact_phone
            %td
          %tr
            %th Car
            %td= @job.car.display_title
            %td
          %tr
            %th VIN
            %td
              = simple_form_for [:mechanics, @job, @job.car], wrapper: :nolabel, html: { class: 'edit_car edit_vin' } do |f|
                = f.input :vin, wrapper_html: { class: 'col-md-6 col-sm-6' }
                = f.submit 'Save', class: 'btn btn-default'
            %td
          %tr.tr-divider
            %th.reg-number-label Registration Number
            %td
              = simple_form_for [:mechanics, @job, @job.car], wrapper: :nolabel, html: { class: 'edit_car edit_reg_number' } do |f|
                = f.input :reg_number, wrapper_html: { class: 'col-md-6 col-sm-6' }
                = f.submit 'Save', class: 'btn btn-default'
            %td
          - @job.tasks.each do |task|
            %tr
              %th #{ task.type }:
              %td= task.title
              %td.text-right= number_to_currency task.cost
          %tr.tr-divider
            %td
            %th.text-right Total Fees:
            %th.text-right= number_to_currency @job.cost
        .clearfix
          =link_to 'Complete job', mechanics_job_complete_path(@job), class: 'btn btn-success pull-right'
