%p Hi #{@job.user.first_name},

%p How did you find your appointment with #{@job.mechanic.full_name}?

%p Please #{ link_to 'click here', users_appointment_url(@job) } to answer a short, two minute review. We'd love it to hear about your experience with #{@job.mechanic.first_name}.

= render '/shared/mail_footer'
