.step-diagnose{ 'ng-controller' => 'DiagnoseController', 'ng-show' => 'stepVisible("diagnose")', 'ng-init' => "init({ mode: '#{@mode}', symptoms: #{@symptoms} })" }

  .wizard-body{ 'ng-show' => 'mode == "review"' }
    .tasks
      .task.panel.panel-default.panel-rounded{ 'ng-repeat' => 'task in tasks' }
        .panel-heading
          {{task.title}}
          .pull-right
            %a.edit-task{ href: '', 'ng-click' => 'editTask($index)' }
              %i.icon.icon-edit
              Add notes
            %a.remove-task{ href: '', 'ng-click' => 'removeTask($index)' }
              %i.icon.icon-remove
              Remove
        .panel-body
          %p.description{ 'ng-show' => 'task.type == "Inspection"' }
            {{task.description}}
          %p.note{ 'ng-show' => 'task.note'}
            %strong Notes:
            {{task.note}}

    .text-right
      %a.btn.btn-success{ 'href' => '', 'ng-click' => 'mode = "service"', 'ng-hide' => 'hasService()' } Add Service
      %a.btn.btn-success{ 'href' => '', 'ng-click' => 'mode = "repair"' } Add Repair

  .wizard-body{ 'ng-show' => "mode == 'service'", 'ng-form' => 'service_form' }
    %h5 PLEASE PICK A SERVICE INTERVAL YOU'LL LIKE OUR PROFESSIONAL MOBILE MECHANIC TO PERFORM
    %hr.hr-dark-gray
    = f.simple_fields_for :task do |s|
      = s.input :service_plan_id, label: false, include_blank: '-- Please select --', collection: [], input_html: { 'ng-model' => 'service_plan', 'ng-options' => 'v.display_title for v in service_plans', 'ng-disabled' => 'service_plans.length == 0', 'ng-focus' => true, 'required' => true }
      = s.input :note, label: false, placeholder: 'Write any additional issues or concerns you have with your car', as: :text, input_html: { 'ng-model' => 'note' }

  .wizard-body{ 'ng-show' => 'mode == "repair"', 'ng-form' => 'repair_form' }
    .symptoms{ 'ng-hide' => 'editingRepair()' }
      %h5.orange {{symptomTitle()}}
      .advice
        %p {{recommendation()}}
      .row
        .col-md-6
          %div{ 'ng-repeat' => 'symptom in questions' }
            %a.btn.btn-default{ 'ng-click' => 'addSymptom(symptom)' }
              %small.pull-right &#x276F;
              {{symptom.description}}

    %h5.orange SOMETHING ELSE IS WRONG?

    = f.simple_fields_for :task, Repair.new do |s|
      = s.input :description, label: false, placeholder: 'Describe any issues you have with your car', as: :text, input_html: { 'ng-model' => 'repair_description' }

  %hr

  %button.btn.btn-default{ 'type' => 'button', 'ng-click' => 'goBack()' }
    %small &#x276E;
    Back

  %button.btn.btn-primary.pull-right{ 'type' => 'button', 'ng-click' => 'continue()', 'ng-disabled' => '!continueEnabled()' }
    {{continueLabel()}}
    %small{ 'ng-show' => 'mode == "review"' } &#x276F;
