.profile-border

  = image_tag mechanic.avatar? ? mechanic.avatar_url(:thumb) : 'photo.jpg', class: 'avatar clickable js-update-avatar'
  .reviews-row.clearfix
    .rating.pull-left
      = rating_stars(mechanic.rating)
    %span.review-text.pull-right
      = link_to pluralize(mechanic.reviews, 'Review'), mechanics_profile_path

  :coffee
    $('.js-update-avatar').click ->
      $('#mechanic_avatar').click()
    $(document).on 'change', '#mechanic_avatar', ->
      this.form.submit()
  .hide
    = simple_form_for mechanic, url: mechanics_profile_path do |f|
      = f.input :avatar, input_html: { class: 'js-skip-bootstrap-fileinput' }
      = f.submit 'Save', class: 'btn btn-success'

  - if mechanic.years_as_a_mechanic
    %br
    .text-center.experience #{ mechanic.years_as_a_mechanic } years of experience

%div
  - unless mechanic.description.blank?
    .panel.nested-panel
      = mechanic.description
  .col-md-6.pull-right
    = render "shared/mechanic_verified_block", account: mechanic
