= simple_form_for [:admin, @service_plan], url: by_model_admin_service_plans_path, method: :get, wrapper: :nolabel_sm, html: { class: 'form-inline' } do |f|
  = f.association :make, include_blank: '-- Make --', input_html: { style: 'width: 15em' }
  = f.association :model, include_blank: '-- Model --', collection: [], input_html: { style: 'width: 15em' }
  = f.association :model_variation, include_blank: '-- Model variation --', collection: [], input_html: { style: 'width: 25em' }
  = f.submit 'Select', id: 'search-btn', class: 'btn btn-primary btn-sm', disabled: true

:coffee
  $ ->
    $('#new_service_plan').cascadingDropdown({
      selectBoxes: [
        {
          selector: '#service_plan_make_id'
        },
        {
          selector: '#service_plan_model_id',
          requires: ['#service_plan_make_id'],
          selected: '#{search_params[:model_id]}',
          source: (request, response) ->
            $.getJSON '/ajax/models', request, (data) -> response(data)
        },
        {
          selector: '#service_plan_model_variation_id',
          requires: ['#service_plan_model_id'],
          selected: '#{search_params[:model_variation_id]}',
          source: (request, response) ->
            $.getJSON '/ajax/model_variations', request, (data) -> response(data)
        }
      ],
      onChange: (e, values) ->
        enabled = (v for l, v of values).every (i) -> i.length > 0
        $('#search-btn').prop('disabled', !enabled)
    })
