.col-md-6
  = simple_form_for [:admin, @service_plan] do |f|
    = f.error_notification
    = f.input :title, hint: 'Enter title for custom plans or kms/months for periodic plans'
    = f.input :kms_travelled
    = f.input :months
    = f.input :quote
    = f.input :inclusions, label: 'Service inclusions'
    = f.input :instructions
    = f.input :parts
    = f.input :notes
    = f.input :model_variation_id, as: :hidden

    = f.submit 'Save', class: 'btn btn-primary'
    = link_to "Delete", admin_service_plan_path(@service_plan), method: :delete, class: 'btn btn-danger pull-right', data: { confirm: 'Are you sure to delete the service plan?' }
