= t.simple_fields_for :task_items, TaskItem.new, child_index: '{{$index}}' do |ti|
  = ti.hidden_field :id, value: '{{item.id}}'
  = ti.hidden_field :_destroy, value: '{{item._destroy}}'
  = ti.hidden_field :itemable_type, value: 'ServiceCost'
  = ti.simple_fields_for :itemable, ServiceCost.new, defaults: { label: false, wrapper: false, input_html: { class: 'input-sm', required: true } } do |i|
    = i.hidden_field :id, value: '{{item.itemable.id}}'
    .desc
      .form-control-static {{item.itemable.description}}
    .subtotal
    .pull-right
      .total
        .form-control-static {{item.itemable.cost}}
      .actions
        %a.delete-item{ href: '', 'ng-click' => 'deleteItem(item)' }
          %i.glyphicon.glyphicon-remove
