= t.simple_fields_for :task_items, TaskItem.new, child_index: '{{$index}}' do |ti|
  = ti.hidden_field :id, value: '{{item.id}}'
  = ti.hidden_field :_destroy, value: '{{item._destroy}}'
  = ti.hidden_field :itemable_type, value: 'Part'
  = ti.simple_fields_for :itemable, Part.new, defaults: { label: false, wrapper: false, input_html: { class: 'input-sm', required: true } } do |i|
    = i.hidden_field :id, value: '{{item.itemable.id}}'
    .actions
      %a.delete-item{ href: '', 'ng-click' => 'item.delete()' }
        %i.glyphicon.glyphicon-remove
    .desc
      = i.input :name, placeholder: 'Part name', input_html: { 'ng-model' => 'item.itemable.name' }
    .subtotal
      = i.input :quantity, placeholder: 'Qty', input_html: { min: 1, 'ng-model' => 'item.itemable.quantity' }
      %span x
      = i.input :unit_cost, placeholder: 'Cost', as: :string, input_html: { min: 1, 'ng-model' => 'item.itemable.unit_cost' }
    .pull-right
      .total
        .form-control-static {{item.total() | cost_or_pending}}
