%tr
  %td= job.uid
  %td= job_status(job.status)
  %td= job.title
  %td
    = job.client_name
    %br
    %span.small= job.created_at.to_s(:date) 
  %td.text-right= formatted_cost(job.final_cost)
  %td.text-right= job.payout ? number_to_currency(job.payout.amount) : '-'
  %td= link_to 'Edit', edit_admins_job_path(job)
