= render 'shared/user/view_profile', user: current_user, show_comments: false

.row
  .col-md-4
    .panel.panel-default.panel-rounded.outstanding-reviews
      .panel-heading
        %h4.panel-title Reviews Outstanding
      .panel-body
        - unless @outstanding_reviews.size > 0
          %h5 No outstanding reviews
        - else
          - @outstanding_reviews.each do |job|
            .panel.nested-panel
              = link_to users_appointment_path(job) do
                %b= job.title
                %br
                %span.small= job.scheduled_at.to_s(:date)
  .col-md-8
    .panel.panel-default.panel-rounded.user-closest-appointment
      .panel-heading
        %h4.panel-title Booked Appointments
      #js-collapse-three.panel-collapse.collapse.in
        .panel-body
          - if @appointment
            = render 'booked_appointment'
          - else
            %h5 No appointments

    .panel.panel-default.panel-rounded.user-last-estimated
      .panel-heading
        %h4.panel-title My Estimates
      #js-collapse-five.panel-collapse.collapse.in
        .panel-body
          - if @estimate
            = render 'last_estimate'
          - else
            %h5 No estimates
