:javascript
  var path = "#{admins_mechanic_url(@mechanic)}";
:coffeescript
  $ ->
    $('input[type=file]').on 'change', ->
      $cancel_button = $('<span>').addClass('btn-change-image btn-cancel-image-upload').html('&nbsp;×')
      $(this).parents('div').find('span.file-input-name').append($cancel_button)

    $(document).on 'click', '.btn-change-image', ->
      $this = $(this)
      $that = $(this).parent()
      if $this.hasClass('btn-delete-image')
        if confirm "Are you sure you want to delete this image?"
          sent_data = { _method: 'PATCH', mechanic: {} }
          sent_data.mechanic[$that.attr('data-delete')] = 1
          $.post path, sent_data, (data)->
            $that.parent().find('img').remove()
            $that.remove()
            $('body > .container').prepend('<div class="alert alert-info">Image successfully deleted.</div>')
      else if $this.hasClass('btn-cancel-image-upload')
        if confirm "Are you sure you want to cancel upload this image?"
          $that.parent().find('input').val('')
          $that.remove()

= simple_form_for [:admins, @mechanic], html: { class: 'form-horizontal admin_mechanic_form', multipart: true }, defaults: { label_html: { class: 'col-md-2 col-sm-2' } }, wrapper: :bootstrap_horizontal do |f|

  .pull-right.top-bar
    = f.submit 'Save', class: 'btn btn-primary'
    - if @mechanic.persisted?
      = link_to 'Edit regions', admins_mechanic_edit_regions_path(@mechanic), class: 'btn btn-primary'
      = link_to 'Suspend', admins_mechanic_suspend_path(@mechanic), method: :patch, class: 'btn btn-dark' unless @mechanic.suspended?
      = link_to 'Delete', admins_mechanic_path(@mechanic), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure to delete the mechanic?' }
  .clearfix
  %hr.hr-dark-gray

  %ul.nav.nav-tabs
    %li.active= link_to 'Personal details', '#personal', 'data-toggle' => 'tab'
    %li= link_to 'Contact details', '#contact', 'data-toggle' => 'tab'
    %li= link_to 'Business details', '#business', 'data-toggle' => 'tab'
    %li= link_to "Driver's License", '#driver_license', 'data-toggle' => 'tab'
    %li= link_to "Motor Mechanic's License", '#motor_license', 'data-toggle' => 'tab'
    %li= link_to 'Badges', '#badges', 'data-toggle' => 'tab'

  .tab-content
    #personal.tab-pane.active
      = f.error_notification
      = f.input :first_name
      = f.input :last_name
      = f.input :email, label: 'Email'
      = f.input :dob, label: 'Date of birth', start_year: Date.today.year - 18, end_year: Date.today.year - 60, order: [:day, :month, :year], wrapper_html: { class: 'dob' }
      = f.input :description, label: 'Personal description'
      = f.input :years_as_a_mechanic, label: 'Years as mechanic', as: :string
      = f.input :avatar, label: 'Photo', as: :image, wrapper: :bootstrap, input_html: { wrap_class: 'col-md-4 col-sm-5' }, show_file_name: true

    #contact.tab-pane
      = f.input :mobile_number
      = render partial: 'shared/location_form', locals: { f: f, location_assoc: :location, defaults: { required: true } }

    #business.tab-pane
      = f.input :business_name, label: 'Business name'
      = f.input :abn_number, label: 'ABN number'
      = f.input :abn_expiry, label: 'ABN expiry date', start_year: Date.today.year, end_year: Date.today.year + 20, order: [:day, :month, :year], wrapper_html: { class: 'dob' }
      = f.input :business_website, label: 'Business website'
      = f.input :business_email, label: 'Business email'
      = f.input :business_mobile_number, label: 'Business phone number'
      = f.simple_fields_for :business_location do |l|
        = l.input :address, label: 'Business address'
        = l.input :suburb
        = l.association :state, prompt: '-- Please select --'
        = l.input :postcode
      = f.input :abn, label: 'ABN certificate', as: :image, wrapper: :bootstrap, input_html: { wrap_class: 'col-md-4 col-sm-5' }, show_file_name: true

    #driver_license.tab-pane
      = f.input :driver_license_number, label: 'License number'
      = f.association :license_state, label: 'Registered state', prompt: '-- Please select --'
      = f.input :license_expiry, label: 'Expiry date', start_year: Date.today.year, end_year: Date.today.year + 20, order: [:day, :month, :year], wrapper_html: { class: 'dob' }
      = f.input :driver_license, label: 'Image', as: :image, wrapper: :bootstrap, input_html: { wrap_class: 'col-md-4 col-sm-5' }, show_file_name: true

    #motor_license.tab-pane
      = f.input :mechanic_license_number, label: 'License number'
      = f.association :mechanic_license_state, label: 'Registered state', prompt: '-- Please select --'
      = f.input :mechanic_license_expiry, label: 'Expiry date', start_year: Date.today.year, end_year: Date.today.year + 20, order: [:day, :month, :year], wrapper_html: { class: 'dob' }
      = f.input :repair_work_classes
      = f.input :tradesperson_certificates
      = f.input :mechanic_license, label: 'Tradesperson certificates', as: :image, wrapper: :bootstrap, input_html: { wrap_class: 'col-md-4 col-sm-5' }, show_file_name: true

    #badges.tab-pane
      = f.input :phone_verified
      = f.input :super_mechanic
      = f.input :warranty_covered
      = f.input :qualification_verified

  %hr.hr-dark-gray
  .form-group
    .col-md-offset-2.col-md-4
      = f.submit 'Save', class: 'btn btn-primary col-md-3 col-sm-4'
