= link_to "Add mechanic", new_admins_mechanic_path, class: 'btn btn-primary navbar-btn pull-right'
%h4 Manage mechanics
.clearfix

- if @mechanics.empty?
  .panel.panel-default
    .panel-body.text-center
      No mechanics yet
-else
  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th.col-md-2 Name
          %th Status
          %th.col-md-2 Email
          %th.col-md-1 Mobile
          %th.text-right Current Appts.
          %th.text-right Completed Jobs
          %th.text-right Total Earnings
          %th.text-right Feedback Score
          %th.text-right Date joined
          %th.col-md-1
      %tbody
        - @mechanics.each do |u|
          %tr
            %td= u.full_name
            %td= account_status(u)
            %td= u.email
            %td= u.mobile_number
            %td.text-right= u.current_jobs_count
            %td.text-right= u.completed_jobs_count
            %td.text-right= number_to_currency(u.total_earnings)
            %td.text-right= u.rating
            %td.text-right= u.created_at.to_s(:date_short)
            %td.text-right= link_to "Edit", edit_admins_mechanic_path(u)

  = paginate @mechanics
