= render 'image_uploader_js'

= simple_form_for [:admins, @mechanic], html: { class: 'form-horizontal admin_mechanic_form', multipart: true }, defaults: { label_html: { class: 'col-md-2 col-sm-2' } }, wrapper: :bootstrap_horizontal do |f|

  .top-bar
    %h4.mechanic-details.pull-left Add Mechanic
    .pull-right
      = f.submit 'Save', class: 'btn btn-primary'
  .clearfix
  %hr.hr-dark-gray

  .row
    .col-md-12
      = render 'profile_tabs', f: f

      %hr.hr-dark-gray
      .form-group
        .col-md-offset-2.col-md-4
          = f.submit 'Save', class: 'btn btn-primary col-md-3 col-sm-4'
