:javascript
  $(function() {
    var container = $('.calendar-container#mechanic_#{mechanic.id}'),
        calendar = container.find('.calendar'),
        form = container.find('form');

    calendar.fullCalendar({
      header: {
        left: '',
        center: '',
        right: ''
      },
      defaultView: 'agendaWeek',
      firstDay: #{ Date.tomorrow.wday },
      date: #{ Date.tomorrow.day },
      firstHour: 9,
      minTime: 9,
      maxTime: 19,
      slotMinutes: 120,
      allDayDefault: false,
      allDaySlot: false,
      timeFormat: { agenda: '' },
      selectable: true,
      events: #{ EventsManager.new(mechanic).events_list.to_json(only: [:start, :end]) },
      eventClick: function(event) {
        return false;
      },
      dayClick: function(date, allDay, jsEvent, view) {
        form.find('#job_scheduled_at').val(moment(date).format('YYYY-MM-DDTHH:mm'));
        $('input[type=submit]').attr('disabled', true);
        form.find('input[type=submit]').attr('disabled', false);
      },
      viewRender: function(view, element) {
        // FIXME: bug with current date(in morning I can see today) may be bug not here
        var tomorrow = moment().add('days', 1)

        if(tomorrow.isAfter(view.start)) {
          $('#mechanic_#{mechanic.id} .left-arrow').addClass("disabled");
        } else {
          $('#mechanic_#{mechanic.id} .left-arrow').removeClass("disabled");
        }
      },
      // try to have more pretty "answer"
      eventAfterRender: function(event, element, view) {
        $el = $(element);
        width = parseInt($el.css('width'))
        width *= 1.04
        $el.css('width', width + 'px');
        $elWrap = $('.fc-content > div > div > div');
        height = parseInt($elWrap.css('height'))
        height *= 1.04
        $elWrap.css('height', height + 'px');
        height = parseInt($el.css('height'))
        height *= 1.04
        $el.css('height', height + 'px');
        $('.fc-content > div > div > div > div').css('overflow', 'visible');

      }
    });
    $('#mechanic_#{mechanic.id} .right-arrow').click(function() {
      calendar.fullCalendar('next');
    });
    $('#mechanic_#{mechanic.id} .left-arrow').click(function() {
      if(!$(this).hasClass('disabled')) {
        calendar.fullCalendar('prev');
      }
    });
  });
.panel.panel-default.panel-rounded
  .panel-body
    .row
      .profile-border.clickable{ data: { toggle: 'modal', target: "#js-mechanic-#{mechanic.id}" }, role: 'button' }
        = render "shared/mechanic/avatar", mechanic: mechanic
        %h5.text-center
          = mechanic.full_name
          - if mechanic.years_as_a_mechanic
            %br
            #{ mechanic.years_as_a_mechanic } years of experience

      .row.calendar-container[mechanic]
        %legend Select Arrival Time
        .calendar-arrow.left-arrow &#x276E
        .calendar-arrow.right-arrow &#x276F
        .calendar.week-view

        %p
          = simple_form_for @job, url: users_appointment_path, html: { class: 'choose_mechanic_form' }, wrapper: :nolabel do |f|
            = f.hidden_field :scheduled_at, value: nil
            = f.hidden_field :mechanic_id, value: mechanic.id
            = f.submit 'Book Appointment', class: 'btn btn-info pull-right', disabled: true, style: "margin-right: 30px"

    = render "shared/mechanic/modal", mechanic: mechanic
