:javascript
  $(function() {
    var $calendar_#{ id = mechanic.id } = $('.calendar#mechanic_#{ id }'),
        $form_#{ id } = $calendar_#{ id }.find(' + form #job_scheduled_at');

    $calendar_#{ id }.fullCalendar({
      header: {
        left: 'title',
        center: '',
        right: 'prev,next,today'
      },
      defaultView: 'agendaWeek',
      firstDay: #{ Date.today.wday },
      firstHour: 9,
      minTime: 9,
      maxTime: 19,
      slotMinutes: 120,
      allDayDefault: false,
      allDaySlot: false,
      timeFormat: { agenda: '' },
      selectable: true,
      events: #{ EventsManager.new(mechanic).events_list.to_json },
      eventClick: function(event) {
        return false;
      },
      dayClick: function(date, allDay, jsEvent, view) {
        $form_#{ id }.val(date.toString().replace(/GMT\+\d{4}/, 'GMT+0000'));
      }
    });
  });
.panel.panel-default.panel-rounded
  .panel-body
    .row
      .profile-border
        = render 'shared/mechanic/avatar', mechanic: mechanic
        %h5.text-center
          = link_to mechanic.full_name, "#js-mechanic-#{mechanic.id}", data: { toggle: 'modal' }, role: 'button'
          - if mechanic.years_as_a_mechanic
            %br #{ mechanic.years_as_a_mechanic } years of experience

      .row
        %legend Select Arrival Time
        .calendar[mechanic]
        = simple_form_for @job, url: users_appointment_path, html: { class: 'choose_mechanic_form' }, wrapper: :nolabel do |f|
          = f.hidden_field :scheduled_at, value: nil
          = f.hidden_field :mechanic_id, value: mechanic.id
          = f.submit 'Book Appointment', class: 'btn btn-info'
    = render 'shared/mechanic/description_popup', mechanic: mechanic
