- tomorrow = Date.tomorrow
:javascript
  $(function() {
    var $container = $('.calendar-container#mechanic_#{mechanic.id}'),
        $calendar = $container.find('.calendar'),
        $left_arrow = $container.find('.left-arrow'),
        form = $container.find('form');

    $calendar.fullCalendar({
      header: {
        left: '',
        center: '',
        right: ''
      },
      defaultView: 'agendaWeek',
      firstDay: #{ tomorrow.wday },
      year: #{ tomorrow.year },
      month: #{ tomorrow.month - 1 },
      date: #{ tomorrow.day },
      firstHour: 9,
      minTime: 9,
      maxTime: 19,
      slotMinutes: 120,
      allDayDefault: false,
      allDaySlot: false,
      timeFormat: { agenda: '' },
      selectable: true,
      events: #{ EventsManager.new(mechanic).events_list.to_json(only: [:start, :end]) },
      eventClick: function(event) {
        return false;
      },
      dayClick: function(date, allDay, jsEvent, view) {
        form.find('#job_scheduled_at').val(moment(date).format('YYYY-MM-DDTHH:mm'));
        $(':submit').prop('disabled', true);
        form.find(':submit').prop('disabled', false);
      },
      viewRender: function(view, element) {
        var tomorrow = moment().add('days', 1);
        $left_arrow.toggleClass('disabled', tomorrow.isAfter(view.start));
      },
      eventAfterRender: function(event, element, view) {
        var $el = $(element),
            $elWrap = $('.fc-content > div > div > div');

        var width = parseInt($el.css('width')),
            eHeight = parseInt($el.css('height')),
            ewHeight = parseInt($elWrap.css('height'));
        width *= 1.04;
        eHeight *= 1.04;
        ewHeight *= 1.04;

        $el.css('width', width + 'px');
        $el.css('height', eHeight + 'px');
        $elWrap.css('height', ewHeight + 'px');

        $('.fc-content > div > div > div > div').css('overflow', 'visible');
      }
    });

    $('#mechanic_#{mechanic.id} .right-arrow').click(function() {
      $calendar.fullCalendar('next');
    });

    $left_arrow.click(function() {
      if(!$(this).hasClass('disabled')) {
        $calendar.fullCalendar('prev');
      };
    });
  });
.panel.panel-default.panel-rounded
  .panel-body
    .row
      .profile-border.clickable{ data: { toggle: 'modal', target: "#js-mechanic-#{mechanic.id}" }, role: 'button' }
        = render "shared/mechanic/avatar", mechanic: mechanic
        %h5.text-center
          = mechanic.full_name
          - if mechanic.years_as_a_mechanic
            %br
            #{ mechanic.years_as_a_mechanic } years of experience

      .row.calendar-container[mechanic]
        %legend Select Arrival Time
        .calendar-arrow.left-arrow ‹
        .calendar-arrow.right-arrow ›
        .calendar.week-view

        %p
          = simple_form_for @job, url: users_appointment_path, html: { class: 'choose_mechanic_form' }, wrapper: :nolabel do |f|
            = f.hidden_field :scheduled_at, value: nil
            = f.hidden_field :mechanic_id, value: mechanic.id
            = f.submit 'Book Appointment', class: 'btn btn-info pull-right', disabled: true, style: "margin-right: 30px"

    = render "shared/mechanic/modal", mechanic: mechanic
