%tr
  %td= job_status(job.status)
  %td= job.title
  %td= job.mechanic.full_name
  %td= job.car.display_title
  %td= job.scheduled_at.to_s(:date_short)
  %td
    = link_to '#', title: 'Leave Feedback', data: { toggle: 'tooltip' } do
      .big.icon-share
    = link_to '#', title: 'View Job', data: { toggle: 'tooltip' } do
      .big.icon-list-alt
    = link_to '#', title: 'View Receipt', data: { toggle: 'tooltip' } do
      .big.icon-picture
