.row
  %section.col-md-9
    %h4.black Your Negotiated Quote

    .panel.panel-default.panel-rounded
      .panel-heading
        %h4.panel-title List of services
      .panel-body
        .table-responsive
          %table.table.table-borderless.no-margin.tasks
            - job_breakdown(@job).each do |row|
              %tr.tr-divider
                %td
                  = row[:title]
                %td.text-right
                  = row[:value]
            - job_totals(@job).each do |row|
              %tr
                %td.text-right
                  %b= row[:title]
                %td.text-right
                  %b= row[:value]

    %h4.black Select a Mechanic
    .mechanics
      - if mechanics.length > 0
        = render partial: 'users/appointments/book', collection: mechanics, as: :mechanic
      - else
        .panel.panel-default.panel-rounded
          .panel-body
            %h5 Sorry, we could not find any mechanics near you

  .col-md-3.sidebar
    = render 'sidebar'
