.row
  .col-md-12
    -#
      .col-md-12.nested-panel.clearfix
        %h5.col-md-4 Show Appointments for
        .col-md-8
          %select.form-control{"data-placeholder" => "All my cars", tabindex: "1"}
            %option{selected: "selected", value: "All my cars"} All my cars
            %option{value: " 2000 Toyota Corolla L4-1.8L"} 2000 Toyota Corolla L4-1.8L
            %option{value: " 2010 Kia Optima L4-2.4L"} 2010 Kia Optima L4-2.4L
            %option{value: " 2010 Ford F10 Lightning V8-5.4L"} 2010 Ford F10 Lightning V8-5.4L
            %option{value: " Manage Cars"} Manage Cars
    .panel
      .panel-body
        %ul.nav.nav-tabs
          %li.active
            = link_to 'Current Appointments', '#tab_current', data: { toggle: 'tab' }
          %li
            = link_to 'Past Appointments', '#tab_past', data: { toggle: 'tab' }
          -#
            %li
              = link_to 'Feedback', '#tab_feedback', data: { toggle: 'tab' }
        .tab-content
          #tab_current.tab-pane.active
            - if @current_jobs.length > 0
              = render partial: 'job_current', collection: @current_jobs, as: :job
            - else
              %h5 No appointments
          #tab_past.tab-pane
            .table-responsive
              %table.table.table-striped.table-bordered
                %thead
                  %tr.active
                    %th Status
                    %th Job
                    %th Mechanic
                    %th Vehicle
                    %th{ style: "width: 11%" } Date
                    %th{ style: "width: 10%" } Option
                %tbody
                  = render partial: 'job_past', collection: @past_jobs, as: :job
          #tab_feedback.tab-pane
            .review-block
              .panel-body.row
                .col-md-12.clearfix
                  %h5.hx-default
                    Leave Feedback
                  %ul.chat
                    %li.clearfix
                      .avatar
                        = image_tag(asset_url("avatar1.jpg"), class: 'img-circle')
                      .panel.nested-panel.with-arrow.commentary-block
                        .span
                          %a.name Mosaddek
                          %span.datetime at Apr 14, 2013
                        .panel.nested-panel.clearfix
                          .col-md-3
                            %i.glyphicon.glyphicon-inbox
                            Ford Faicon
                          .col-md-2
                            %i.glyphicon.glyphicon-usd
                            1020
                          .col-md-4
                            %i.glyphicon.glyphicon-cog
                            Replace the engine
                        %br
                        #js-accordion.accordion.panel-group
                          .row
                            .col-md-12
                              = link_to 'Leave Feedback', '#js-collapse', class: 'btn btn-success pull-right',  data: {toggle: 'collapse', parent: '#js-accordion'}
                          #js-collapse.panel-collapse.collapse.feedback
                            %br
                            %p
                              LEAVE FEEDBACK - How satisfied were you
                              %a{href: "#"} Bob Mechanic
                              ?
                              %small.pull-right Rollover stars then click to rate
                            .row
                              %small.col-md-9
                                %b Professionalism
                                How helpful was he? Did he do anything beyond expectation?
                              .col-md-3
                                .reviews-row.clearfix
                                  .rating.pull-left
                                    = rating_stars(2)
                            .row
                              %small.col-md-9
                                %b Service
                                What  was the quality of work like ?
                              .col-md-3
                                .reviews-row.clearfix
                                  .rating.pull-left
                                    = rating_stars(2)
                            .row
                              %small.col-md-9
                                %b Communication
                                did he aive a clear explanation on everything that he was going to do ?
                              .col-md-3
                                .reviews-row.clearfix
                                  .rating.pull-left
                                    = rating_stars(2)
                            .row
                              %small.col-md-9
                                %b Quality of Parts
                                What was the quality of replacement parts given like ?
                              .col-md-3
                                .reviews-row.clearfix
                                  .rating.pull-left
                                    = rating_stars(2)
                            .row
                              %small.col-md-9
                                %b Convenience
                                how convenient was this whole process for you ?
                              .col-md-3
                                .reviews-row.clearfix
                                  .rating.pull-left
                                    = rating_stars(2)
                            .form-group
                              %textarea.form-control.col-md-12{name: "", type: "text"} Tell us more
                            %p
                              %b
                                Would you recommend Bob Mechanic to your friends and family ?
                            .row
                              .col-md-12.row
                                %label.col-md-2
                                  %input#optionsRadios1{name: "optionsRadios", type: "radio", value: "option1"}
                                  Yes
                                %label.col-md-3
                                  %input#optionsRadios2{name: "optionsRadios", type: "radio", value: "option2"}
                                  Not This Time
                            .row
                              .col-md-12
                                = link_to 'Leave Feedback', '#', class: 'btn btn-success pull-right'
                  %h5.hx-default Customer Reviews
                  %ul.chat
                    %li.clearfix
                      .avatar
                        = image_tag(asset_url("avatar1.jpg"), class: 'img-circle')
                      .panel.nested-panel.with-arrow.commentary-block
                        .span
                          %a.name Mosaddek
                          %span.datetime at Apr 14, 2013
                        .panel.nested-panel
                          %span.col-md-3
                            %i.glyphicon.glyphicon-inbox
                            Ford Faicon
                          %span.col-md-2
                            %i.glyphicon.glyphicon-usd
                            1020
                          %span.col-md-4
                            %i.glyphicon.glyphicon-cog
                            Replace the engine
                          .reviews-row.clearfix
                            .rating.pull-left
                              =rating_stars(3)
                        %p.commentary
                          Lorem ipsum dolor sit amet,
                          consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                          laoreet dolore magna aliquam erat volutpat. dolore magna aliquam erat
                          volutpat. dolore magna aliquam erat volutpat.
                    %li.clearfix
                      .pull-right.avatar
                        = image_tag(asset_url("avatar1.jpg"), class: 'img-circle')
                      .panel.nested-panel.with-arrow.commentary-block
                        .span.text-right
                          %a.name Mosaddek
                          %span.datetime at Apr 14, 2013
                        .panel.nested-panel
                          %span.col-md-3
                            %i.glyphicon.glyphicon-inbox
                            Ford Faicon
                          %span.col-md-2
                            %i.glyphicon.glyphicon-usd
                            1020
                          %span.col-md-4
                            %i.glyphicon.glyphicon-cog
                            Replace the engine
                          .reviews-row.clearfix
                            .rating.pull-left
                              =rating_stars(3)
                        %p.commentary
                          Lorem ipsum dolor sit amet,
                          consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                          laoreet dolore magna aliquam erat volutpat. dolore magna aliquam erat
                          volutpat. dolore magna aliquam erat volutpat.
                    %li.clearfix
                      .avatar
                        = image_tag(asset_url("avatar1.jpg"), class: 'img-circle')
                      .panel.nested-panel.with-arrow.commentary-block
                        .span
                          %a.name Mosaddek
                          %span.datetime at Apr 14, 2013
                        .panel.nested-panel
                          %span.col-md-3
                            %i.glyphicon.glyphicon-inbox
                            Ford Faicon
                          %span.col-md-2
                            %i.glyphicon.glyphicon-usd
                            1020
                          %span.col-md-4
                            %i.glyphicon.glyphicon-cog
                            Replace the engine
                          .reviews-row.clearfix
                            .rating.pull-left
                              =rating_stars(3)
                        %p.commentary
                          Lorem ipsum dolor sit amet,
                          consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                          laoreet dolore magna aliquam erat volutpat. dolore magna aliquam erat
                          volutpat. dolore magna aliquam erat volutpat.
