.row
  .col-md-12
    .panel
      .panel-body
        %ul.nav.nav-tabs
          %li.active
            = link_to 'Current Appointments', '#tab_current', data: { toggle: 'tab' }
          %li
            = link_to 'Past Appointments', '#tab_past', data: { toggle: 'tab' }
        .tab-content
          #tab_current.tab-pane.active
            - if @current_jobs.length > 0
              = render partial: 'job_current', collection: @current_jobs, as: :job
            - else
              %h5 No appointments
          #tab_past.tab-pane
            .table-responsive
              %table.table.table-striped.table-bordered
                %thead
                  %tr.active
                    %th Status
                    %th Job
                    %th Mechanic
                    %th Vehicle
                    %th{ style: "width: 11%" } Date
                    %th{ style: "width: 10%" } Option
                %tbody
                  = render partial: 'job_past', collection: @past_jobs, as: :job

= render 'success_modal' if @just_booked
