.review-block
  .panel-body
    .col-md-12.clearfix
      %h5.hx-default Customer Reviews
      %ul.chat
        %li.clearfix
          .col-md-1.avatar
            = image_tag(asset_url("avatar1.jpg"), :class => 'img-circle')
          .col-md-11.panel.nested-panel.with-arrow.commentary-block
            .span
              = link_to 'Mosaddek', '#'
              %span.datetime at Apr 14, 2013
            .panel.nested-panel
              %span.col-md-3
                %i.glyphicon.glyphicon-inbox
                Ford Faicon
              %span.col-md-2
                %i.glyphicon.glyphicon-usd
                1020
              %span.col-md-4
                %i.glyphicon.glyphicon-cog
                Replace the engine
              .reviews-row.clearfix
                .rating.pull-left
                  = rating_stars(2)
            %p.commentary
              Lorem ipsum dolor sit amet,
              consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
              laoreet dolore magna aliquam erat volutpat. dolore magna aliquam erat
              volutpat. dolore magna aliquam erat volutpat.
        %li.clearfix
          .col-md-1.pull-right.avatar
            = image_tag(asset_url("avatar1.jpg"), :class => 'img-circle')
          .col-md-11.panel.nested-panel.with-arrow.commentary-block
            .span.text-right
              = link_to 'Mosaddek', '#'
              %span.datetime at Apr 14, 2013
            .panel.nested-panel
              %span.col-md-3
                %i.glyphicon.glyphicon-inbox
                Ford Faicon
              %span.col-md-2
                %i.glyphicon.glyphicon-usd
                1020
              %span.col-md-4
                %i.glyphicon.glyphicon-cog
                Replace the engine
              .reviews-row.clearfix
                .rating.pull-left
                  = rating_stars(2)
            %p.commentary
              Lorem ipsum dolor sit amet,
              consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
              laoreet dolore magna aliquam erat volutpat. dolore magna aliquam erat
              volutpat. dolore magna aliquam erat volutpat.
        %li.clearfix
          .col-md-1.avatar
            = image_tag(asset_url("avatar1.jpg"), :class => 'img-circle')
          .col-md-11.panel.nested-panel.with-arrow.commentary-block
            .span
              = link_to 'Mosaddek', '#'
              %span.datetime at Apr 14, 2013
            .panel.nested-panel
              %span.col-md-3
                %i.glyphicon.glyphicon-inbox
                Ford Faicon
              %span.col-md-2
                %i.glyphicon.glyphicon-usd
                1020
              %span.col-md-4
                %i.glyphicon.glyphicon-cog
                Replace the engine
              .reviews-row.clearfix
                .rating.pull-left
                  = rating_stars(2)
            %p.commentary
              Lorem ipsum dolor sit amet,
              consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
              laoreet dolore magna aliquam erat volutpat. dolore magna aliquam erat
              volutpat. dolore magna aliquam erat volutpat.
