.row
  %small.col-md-9
    %b Professionalism
    How knowledgeable was the mechanic?
  .col-md-3
    .reviews-row.clearfix.pull-left
      .rating
        = rating_stars(rating.professional)
.row
  %small.col-md-9
    %b Service
    How was the service provided by the mechanic?
  .col-md-3
    .reviews-row.clearfix.pull-left
      .rating
        = rating_stars(rating.service_quality)
.row
  %small.col-md-9
    %b Communication
    How clear was the communication from the mechanic?
  .col-md-3
    .reviews-row.clearfix.pull-left
      .rating
        = rating_stars(rating.communication)
.row
  %small.col-md-9
    %b Cleanliness
    How clean was the work site after the mechanic left?
  .col-md-3
    .reviews-row.clearfix.pull-left
      .rating
        = rating_stars(rating.cleanness)
.row
  %small.col-md-9
    %b Convenience
    How convenient and easy was it to organise this service/repair?
  .col-md-3
    .reviews-row.clearfix.pull-left
      .rating
        = rating_stars(rating.convenience)

%p= rating.comment
