.row
  %small.col-md-9
    %b Professionalism
    How helpful was he? Did he do anything beyond expectation?
  .col-md-3
    .reviews-row.clearfix.pull-left
      .rating
        = rating_stars(rating.professional)
.row
  %small.col-md-9
    %b Service
    What  was the quality of work like ?
  .col-md-3
    .reviews-row.clearfix.pull-left
      .rating
        = rating_stars(rating.service_quality)
.row
  %small.col-md-9
    %b Communication
    did he aive a clear explanation on everything that he was going to do ?
  .col-md-3
    .reviews-row.clearfix.pull-left
      .rating
        = rating_stars(rating.communication)
.row
  %small.col-md-9
    %b Quality of Parts
    What was the quality of replacement parts given like ?
  .col-md-3
    .reviews-row.clearfix.pull-left
      .rating
        = rating_stars(rating.parts_quality)
.row
  %small.col-md-9
    %b Convenience
    how convenient was this whole process for you ?
  .col-md-3
    .reviews-row.clearfix.pull-left
      .rating
        = rating_stars(rating.convenience)

%p= rating.comment
