%footer.footer
  .container
    .row.clearfix
      .col-md-8
        %ul.nav.navbar-nav
          %li 
            = link_to 'About Us', 'about-us.html'
          %li 
            = link_to 'Faq', 'faq.html'
          %li 
            = link_to 'Terms Of Use', 'terms-of-use.html'
          %li 
            = link_to 'Privacy Policy', 'privacy.html'
          %li 
            = link_to 'Blog', 'blog.html'
          %li 
            = link_to 'Contact Us', 'contact-us.html'
      .col-md-3.pull-right.text-right
        Connect with us
        .pull-right.social
          = link_to '', '#', class: 'icon-facebook'
          = link_to '', '#', class: 'icon-twitter'
          = link_to '', '#', class: 'icon-google-plus'
