%footer.footer
  .container
    .row.clearfix
      .col-md-8
        %ul.nav.navbar-nav
          %li 
            = link_to 'About Us', '#'
          %li 
            = link_to 'Faq', '#'
          %li 
            = link_to 'Terms Of Use', '#'
          %li 
            = link_to 'Privacy Policy', '#'
          %li 
            = link_to 'Blog', '#'
          %li 
            = link_to 'Contact Us', '#'
      .col-md-3.pull-right.text-right
        Connect with us
        .pull-right.social
          = link_to '', '#', class: 'icon-facebook'
          = link_to '', '#', class: 'icon-twitter'
          = link_to '', '#', class: 'icon-google-plus'
