%footer.footer
  .container
    .row
      .col-md-8.col-sm-12.col-xs-12
        %ul.nav.navbar-nav
          %li
            = link_to 'About Us', page_path(:about_us)
          %li
            = link_to 'Frequently Asked Questions', page_path(:faq)
          %li
            = link_to 'Terms Of Use', page_path(:terms_of_use)
          %li
            = link_to 'Privacy Policy', page_path(:privacy_policy)
          %li
            = link_to 'Contact Us', page_path(:contact_us)
      .col-md-3.col-sm-12.col-xs-12.pull-right.text-right.footer-social-wrap
        Connect with us
        .pull-right.social
          = link_to '#' do
            %i.icon-facebook-sign
          = link_to '#' do
            %i.icon-twitter-sign
          = link_to '#' do
            %i.icon-google-plus-sign
