%footer.footer
  .container
    .row.clearfix
      .col-md-8.col-sm-12.col-xs-12
        %ul.nav.navbar-nav
          %li 
            = link_to 'About Us', '#'
          %li 
            = link_to 'Faq', '#'
          %li 
            = link_to 'Terms Of Use', '#'
          %li 
            = link_to 'Privacy Policy', '#'
          %li 
            = link_to 'Blog', '#'
          %li 
            = link_to 'Contact Us', '#'
      .col-md-3.col-sm-12.col-xs-12.pull-right.text-right
        Connect with us
        .pull-right.social
          = link_to '#' do
            %i.icon-facebook-sign
          = link_to '#' do
            %i.icon-twitter-sign
          = link_to '#' do
            %i.icon-google-plus-sign


