.col-md-3.nav-collapse.aside
  %ul.nav.nav-pills.nav-stacked
    = nav_bar_link 'Dashboard', mechanics_dashboard_path, icon: 'dashboard'
    = nav_bar_link 'My Jobs', mechanics_jobs_path, icon: 'thumbs-up', active: params[:controller].eql?('mechanics/jobs')
    = nav_bar_link 'My Profile', mechanics_profile_path, icon: 'user', active: params[:controller].eql?('mechanics/profiles') || params[:controller].eql?('mechanics/events')
    = nav_bar_link 'Payout Information', edit_mechanics_payout_method_path, icon: 'credit-card'
    = nav_bar_link 'Settings', edit_mechanics_settings_path, icon: 'cog'
