.navbar.navbar-default.header{ role: 'navigation' }
  .container
    = link_to image_tag('mechanio_logo.png'), root_path, class: 'brand'
    .pull-right
      = link_to 'How it works', '#', class: 'btn btn-link navbar-btn'
      - if user_signed_in?
        = link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-primary navbar-btn'
      - else
        = link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary navbar-btn'
        = link_to 'Login', new_user_session_path, class: 'btn btn-dark navbar-btn'
      %p.help Need Help ? / Call 1800 123 1234
