%header.navbar.navbar-default.header{ role: 'navigation' }
  .container
    = link_to image_tag('mechanio_logo.png'), root_path, class: 'brand'
    .pull-right
      = link_to 'How It Works', '#', class: 'btn btn-link'
      - if user_signed_in?
        = link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-primary navbar-btn'
      - elsif mechanic_signed_in?          
        %ul.nav.pull-right
          %li.dropdown
            %button.btn-dark.btn-sm.dropdown-toggle{:data => {:toggle => 'dropdown'}}
              Mechanic Name
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to '#' do
                  %i.glyphicon.glyphicon-dashboard
                  Dashboard
              %li
                = link_to '#' do
                  %i.glyphicon.glyphicon-user
                  My Profile
              %li
                = link_to '#' do
                  %i.glyphicon.glyphicon-thumbs-up
                  My Jobs
              %li
                = link_to '#' do
                  %i.glyphicon.glyphicon-credit-card
                  Payout Information
              %li
                = link_to '#' do
                  %i.glyphicon.glyphicon-calendar
                  Settings
              %li.divider 
              %li
                = link_to destroy_user_session_path do
                  %i.glyphicon.glyphicon-keys  
                  Log out
      - else
        = link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary navbar-btn'
        = link_to 'Login', new_user_session_path, class: 'btn btn-dark navbar-btn'
      %p.text-right Need Help ? / Call 1800 123 1234

