.row
  .col-md-12
    .panel.panel-default.panel-rounded
      .panel-heading.clearfix
        %h4.panel-title
          %i.glyphicon.glyphicon-user
          = profile.full_name
      .panel-body
        .row
          .profile-border
            = image_tag profile.avatar? ? profile.avatar_url(:thumb) : 'photo.jpg', class: 'avatar'
            - if profile.is_a? Mechanic
              .reviews-row.clearfix
                .rating.pull-left
                  = rating_stars(profile.rating)
                %span.review-text.pull-right #{ pluralize current_mechanic.reviews, 'Review' }
            - else
              .reviews-row.clearfix.text-center
                %span
                  Reviews Left:
                  %strong= profile.reviews
          .panel.nested-panel
            = profile.description || "Add some information about yourself"
            .col-md-12.panel.nested-panel.clearfix
              .social.pull-left
                = link_to '#' do
                  %i.icon-facebook-sign
                = link_to '#' do
                  %i.icon-google-plus-sign
              .col-md-7.pull-right
                .pull-right.verified-block
                  = verify_icon('Contact Verified', 'icon-phone')
                  = verify_icon('Super Mechanic', nil, 'S')
                  = verify_icon('Warranty Covered', 'icon-thumbs-up')
                  = verify_icon('Qualification Verified', 'icon-book')
                %span.pull-right Verified:
        .row
          = render partial: 'shared/comments', locals: { title: title, comments: profile.comments } if title
