.profile-border
  = image_tag profile.avatar? ? profile.avatar_url(:thumb) : 'photo.jpg', class: 'avatar'
  - if profile.is_a? Mechanic
    .reviews-row.clearfix
      .rating.pull-left
        = rating_stars(profile.rating)
      %span.review-text.pull-right #{ pluralize profile.reviews, 'Review' }
  - else
    .reviews-row.clearfix.text-center
      %span
        Reviews Left:
        %strong= profile.reviews
.panel.nested-panel
  = profile.description || "Add some information about yourself"
  .col-md-12.panel.nested-panel.clearfix
    .social.pull-left
      - profile.socials.each do |name|
        = link_to '#' do
          %i{ class: "icon-#{name}-sign" }
    .col-md-7.pull-right
      .pull-right.verified-block
        = render "shared/#{profile.class.name.downcase}_verified_block", account: profile
      %span.pull-right Verified:
