= simple_form_for [:admin, @mechanic], html: { class: '' } do |f|
  = f.error_notification
  .row
    .col-md-4
      = f.input :first_name
    .col-md-3
      = f.input :last_name
    .col-md-3
      = f.input :dob, label: 'Date of birth', start_year: Date.today.year - 60, end_year: Date.today.year - 18
  .row
    .col-md-4
      = f.input :email, label: 'Personal email'
    .col-md-6
      = f.input :description, label: 'Personal description'
  .row
    .col-md-4
      = f.input :street_address, as: :string
    .col-md-3
      = f.input :suburb
    .col-md-2
      = f.association :state, prompt: '-- Please select --'
    .col-md-2
      = f.input :postcode
  .row
    .col-md-4
      = f.input :driver_license, label: "Driver's license number"
    .col-md-3
      = f.association :license_state, label: 'Registered state', prompt: '-- Please select --'
    .col-md-3
      = f.input :license_expiry, label: 'Expiry date', start_year: Date.today.year, end_year: Date.today.year + 20
  = f.submit 'Save', class: 'btn btn-primary'
  = link_to "Delete", admin_mechanic_path(@mechanic), method: :delete, class: 'btn btn-danger pull-right', data: { confirm: 'Are you sure to delete the mechanic?' }
