:coffee
  jQuery ->
    show_flash_notice = (class_name, message) ->
      $('.js-flash-notice').before('<div class="alert alert-' + class_name + '">' + message + '</div>');

    $calendar = $('#calendar')

    $calendar.fullCalendar
      header: { left: 'title', center: '', right: 'prev,next,today' }
      events: #{ events.to_json },
      eventClick: (event) ->
        return false if event.className[0] == 'work'

        if confirm("Are you sure you want to delete this record?")
          $.post(event.url, { _method: 'DELETE' }, () ->
            show_flash_notice('success', 'Event successfully deleted')
            $calendar.fullCalendar('removeEvents', event.id)
          ).fail () ->
            show_flash_notice('danger', 'Cannot delete event with job')

        false

      dayClick: (date, allDay, jsEvent, view) ->
        $('.fc-state-highlight').removeClass('fc-state-highlight')
        $('#event_date_start').val(date)
        $(this).addClass('fc-state-highlight')

.row.js-flash-notice
.row
  .col-md-12
    .panel.panel-default.panel-rounded
      .panel-body.modal-body
        .row
          .col-md-12
            #calendar
        .row
          .calendar-hint.clearfix
            .day-off Day Off
            .part-day-off Part Day Off
          .col-md-12
            %h5.hx-default my days off
            = simple_form_for :event do |f|
              %label Make me unavailable on:
              = f.input :time_slots, collection: [['9 AM', 9], ['11 AM', 11], ['1 PM', 13], ['3 PM', 15], ['5 PM', 17], ['All', 'All']], as: :check_boxes, label: false, item_wrapper_class: 'checkbox-inline calendar-checkbox'
              = f.input :recurrence, collection: ['Does not recur', 'Daily', 'Weekly', 'Monthly'], selected: 'Does not recur'
              = f.hidden_field :date_start, value: Date.today
              = f.submit 'Set', class: 'btn btn-success'
