.pull-right
  - if @user.suspended?
    = link_to 'Activate', activate_admins_user_path(@user), class: 'btn btn-success'
  - else
    = link_to 'Suspend', suspend_admins_user_path(@user), class: 'btn btn-danger'

%h4
  = @user.full_name
  = account_status(@user)

%dl.dl-horizontal
  %dt Email
  %dd= @user.email
  %dt Signup date
  %dd= @user.created_at.to_s(:date_short)

%hr
- if @user.jobs.length > 0
  %h4 Jobs list

  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th Status
          %th Job name
          %th Date requested
          %th Allocated to
          %th Job date and time
          %th Cost
          %th Edit
      %tbody
        = render partial: 'admins/users/job', collection: @user.jobs
- else
  %h4 This user has no appointments
