%h4 User details

%dl.dl-horizontal
  %dt Full name
  %dd= @user.full_name
  %dt Email
  %dd= @user.email
  %dt Signup date
  %dd= @user.created_at.to_s(:short)

= link_to "Delete", admins_user_path(@user), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure to delete the user?' }

%hr
- if @user.jobs.length > 0
  %h4 Jobs list

  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th Status
          %th Job name
          %th Date requested
          %th Allocated to
          %th Job date and time
          %th Cost
          %th Edit
      %tbody
        = render partial: 'admins/users/job', collection: @user.jobs
- else
  %h4 This user has no appointments
