= render 'shared/view_profile', title: false, profile: current_mechanic

.row.upcoming
  .col-md-12
    .panel.panel-default.panel-rounded
      .panel-heading.clearfix
        %h4.panel-title
          %i.glyphicon.glyphicon-user
          = link_to 'Upcoming Jobs' , '#', class: 'text-info lazure'
        %span.tools.pull-right
          = link_to '', '#js-collapse-two', class: 'glyphicon glyphicon-chevron-down accordion-toggle', :data => {:toggle => 'collapse', :parent => '#accordion'}
      #js-collapse-two.panel-collapse.collapse.in
        .panel-body
          = render(@upcoming_jobs) || 'No Upcoming Jobs'
.row.completed
  .col-md-12
    .panel.panel-default.panel-rounded
      .panel-heading.clearfix
        %h4.panel-title
          %i.glyphicon.glyphicon-user
          = link_to 'Completed Jobs', 'mechanic-jobs.html#past-jobs', class: 'text-info lazure'
        %span.tools.pull-right
          = link_to '', '#js-collapse-three', class: 'glyphicon glyphicon-chevron-down accordion-toggle', :data => {:toggle => 'collapse', :parent => '#accordion'}
      #js-collapse-three.panel-collapse.collapse.in
        .panel-body
          = render(@completed_jobs) || 'No Completed Jobs'
