= render 'shared/view_profile', title: false, profile: current_mechanic

/ Upcoming Jobs Part
.row
  .col-md-12
    .panel.panel-default.panel-rounded
      .panel-heading.clearfix
        %h4.panel-title
          %i.glyphicon.glyphicon-user
          = link_to 'Upcoming Jobs' , '#', class: 'text-info'
        %span.tools.pull-right
          = link_to '', '#js-collapse-two', class: 'glyphicon glyphicon-chevron-down accordion-toggle', :data => {:toggle => 'collapse', :parent => '#accordion'}
      #js-collapse-two.panel-collapse.collapse.in
        .panel-body
          - if @jobs.with_status(:assigned).length == 0
            No Upcoming Jobs
          - else
            = render @jobs.with_status(:assigned)
/ Completed Jobs Part
.row
  .col-md-12
    .panel.panel-default.panel-rounded
      .panel-heading.clearfix
        %h4.panel-title
          %i.glyphicon.glyphicon-user
          = link_to 'Completed Jobs', 'mechanic-jobs.html#past-jobs', class: 'text-info'
        %span.tools.pull-right
          = link_to '', '#js-collapse-three', class: 'glyphicon glyphicon-chevron-down accordion-toggle', :data => {:toggle => 'collapse', :parent => '#accordion'}
      #js-collapse-three.panel-collapse.collapse.in
        .panel-body
          - if @jobs.with_status(:completed).length == 0
            No Completed Jobs
          - else
            = render @jobs.with_status(:completed)
