.panel.panel-default.panel-rounded
  .panel-body.form-horizontal.locked-form{ class: ('unlocked' unless @payout.persisted?) }
    = simple_form_for [:admins, @payout], defaults: { label_html: { class: 'col-md-4' }, required: false }, wrapper: :bootstrap_horizontal do |p|
      = p.hidden_field :job_id, value: @job.id
      .col-md-6
        %a.unlock-form.pull-right{ href: '#' }
          %i.icon-pencil
          Edit
        %h5 Payout
        %hr
        = p.input :account_name
        = p.input :bsb_number
        = p.input :account_number
        = p.input :amount do
          .input-group
            %span.input-group-addon $
            = p.input_field :amount
        = p.input :transaction_id, label: 'Receipt number'
        = p.input :receipt, label: 'Receipt'
        - if @job.payout
          .form-group
            .col-md-6.col-md-offset-4
              = link_to 'View receipt', receipt_admins_payout_path(@job.payout), target: :blank

        .form-group
          .col-md-6.col-md-offset-4
            = p.submit 'Save payout', class: 'btn btn-success'
