%p.pull-right
  %strong Requested by
  = link_to @job.user.full_name, [:admin, @job.user]
  on
  = @job.created_at.to_s(:short)

%h4
  = @job.title
  = job_status(@job.status)

- if @job.mechanic
  %p
    Assigned to
    = link_to @job.mechanic.full_name, [:admin, @job.mechanic]

%hr

= simple_form_for [:admin, @job] do |f|

  .task-form.pull-right
    = render partial: 'task_form', locals: { f: f }

  %h4 Job and Labour

  .tasks
    = render partial: 'task', collection: @job.tasks, as: :task, locals: { f: f }

  .row.totals
    .col-md-4.pull-right
      %table.table.table-bordered
        %tr.grand-total
          %th Job total
          %td= @job.cost ? number_to_currency(@job.cost) : 'pending'
