.contact-us
  .col-md-8
    .panel.panel-default.panel-rounded
      .panel-body.text-center
        %h3.to-upper Contact Us

        %h4 Mechanio
        %p
          North Sydney, NSW Australia
          %dl.dl-horizontal.text-left
            %dt Phone:
            %dd
              (+612) 9460 3536
              %br
              (we are open 10am - 5pm)
            %dt ABN:
            %dd 43154895977

        %h4 Are you posting a job?
        %p
          If you have any questions regarding booking a mechanic or
          %br
          how Mechanio works, please read our #{ link_to 'Frequently Asked Questions', page_path(:faq) } first.
          %dl.dl-horizontal.text-left
            %dt Email contact:
            %dd= link_to 'info@mechanio.com', 'mailto:info@mechanio.com'


        %h4 Are you a mobile mechanic?
        %p
          Join online: Please #{ link_to 'register your interest', '#' } and we'll call you
          %br
          back and discuss how Mechanio can work for you
          %dl.dl-horizontal.text-left
            %dt Email contact:
            %dd= link_to 'recruit@mechanio.com', 'mailto:recruit@mechanio.com'

        %h4 Media contact
        %p
          %dl.dl-horizontal.text-left
            %dt Email contact:
            %dd= link_to 'media@mechanio.com', 'mailto:media@mechanio.com'

  .col-md-4
    .panel.panel-default.panel-rounded
      .panel-body
        %h4.hx-default Follow us
        .social-buttons
          .fb-like.social-button{ 'data-href' => 'http://mechanio.com', 'data-layout' => 'button', 'data-action' => 'like', 'data-show-faces' => 'false', 'data-share' => 'false' }
          %a.twitter-follow-button.social-button{ 'href' => 'https://twitter.com/mechanio', 'data-show-count' => 'false', 'data-lang' => 'en', 'data-show-screen-name' => 'false' }
            Follow
          %div.g-follow{ 'data-annotation' => 'none', 'data-height' => '20', 'data-href' => '//plus.google.com/u/0/106799843712414308451', 'data-rel' => 'author' }

        %h4.hx-default Subscribe to our newsletter

        / Begin MailChimp Signup Form
        #mc_embed_signup
          %form#mc-embedded-subscribe-form.validate{ action: "//mechanio.us8.list-manage.com/subscribe/post?u=93d64faaea5a3330db1ae1b6c&id=bba08fd04b", method: "post", name: "mc-embedded-subscribe-form", novalidate: "", target: "_blank" }
            .finder
              %input#mce-EMAIL.email-input.form-control{ name: "EMAIL", type: "email", value: "", placeholder: 'Email Address' }
              #mce-responses.clear
                #mce-error-response.response.clear{style: "display:none"}
                #mce-success-response.response.clear{style: "display:none"}
              / real people should not fill this in and expect good things - do not remove this or risk form bot signups
              %div{style: "position: absolute; left: -5000px;"}
                %input{name: "b_93d64faaea5a3330db1ae1b6c_bba08fd04b", tabindex: "-1", type: "text", value: ""}
              %input#mc-embedded-subscribe.btn.btn-default.pull-left.subscribe-btn{ name: "subscribe", type: "submit", value: "Subscribe" }
        %script{ src: "//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js", type: "text/javascript" }
        :javascript
          (function($) {
          window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';
          }(jQuery));
          var $mcj = jQuery.noConflict(true);
        / End mc_embed_signup

    .panel.panel-default.panel-rounded
      .panel-body
        %iframe{width: '100%', scrolling: 'no', height: '200', frameborder: '0', src: 'https://maps.google.co.in/maps?f=q&source=s_q&hl=en&geocode=&q=sydney,+australia&aq=&sll=20.98352,82.752628&sspn=43.463205,86.572266&ie=UTF8&hq=&hnear=Sydney+New+South+Wales,+Australia&ll=-33.867487,151.20699&spn=0.154277,0.338173&t=m&z=12&iwloc=A&output=embed', marginwidth: '0', marginheight: '0'}


:javascript
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();