.col-md-12
  .panel.panel-default.panel-rounded
    .panel-body
      %h3 Frequently Asked Questions
      %h4.hx-default About Our Service
      #js-accordion-1.accordion.faq-accordion.panel-group
        .nested-panel
          .panel-heading.clearfix
            %h4.panel-title
              = link_to 'Why is this better than taking my car to a shop?','#js-collapse-1', class: 'accordion-toggle', data: {toggle: 'collapse', parent: '#js-accordion-1'}
          #js-collapse-1.panel-collapse.collapse.in
            .panel-body
              %p By having the mechanic come out to you, you save both time and money. No waiting around at an auto shop; you can just go about your day and get your car serviced wherever you are.
              %p Mobile mechanics are cheaper to use as they don't have the traditional overhead of shops and dealerships. They are also more engaged with you and, as independent contractors working for themselves, have an incentive to do their very best every time.
        .nested-panel
          .panel-heading.clearfix
            %h4.panel-title
              = link_to 'Can the mechanic fix my car on the street?','#js-collapse-2', class: 'accordion-toggle', data: {toggle: 'collapse', parent: '#js-accordion-1'}
          #js-collapse-2.panel-collapse.collapse
            .panel-body
              %p Mechanics can take care of just about anything in your driveway, garage, or a parking lot, but on a public street we can only provide emergency roadside assistance (such as jump starts or inspections).
        .nested-panel
          .panel-heading.clearfix
            %h4.panel-title
              = link_to 'Am I expected to tip the mechanic? Is it allowed?','#js-collapse-3', class: 'accordion-toggle', data: {toggle: 'collapse', parent: '#js-accordion-1'}
          #js-collapse-3.panel-collapse.collapse
            .panel-body
              %p Our mechanics do not expect an additional gratuity. Some customers wish to express their appreciation for exceptional service and that can be accomplished either directly to the mechanic or you can let us know and a tip can be added to your bill.
        .nested-panel
          .panel-heading.clearfix
            %h4.panel-title
              = link_to 'Where are you located? Do you have a shop?','#js-collapse-4', class: 'accordion-toggle', data: {toggle: 'collapse', parent: '#js-accordion-1'}
          #js-collapse-4.panel-collapse.collapse
            .panel-body
              %p Our offices are located in Sydney, Australia. We only do mobile work so do not have a shop location. You can meet our office team on our About Us page.
        .nested-panel
          .panel-heading.clearfix
            %h4.panel-title
              = link_to 'Which cities do you serve?','#js-collapse-5', class: 'accordion-toggle', data: {toggle: 'collapse', parent: '#js-accordion-1'}
          #js-collapse-5.panel-collapse.collapse
            .panel-body
              %p Currently we have mechanics offering services in NSW. We will start opening new markets in early 2014. If you would like to be notified when we launch in your area, simply create a free account.
        .nested-panel
          .panel-heading.clearfix
            %h4.panel-title
              = link_to 'What type of location is not suitable for mobile work?','#js-collapse-6', class: 'accordion-toggle', data: {toggle: 'collapse', parent: '#js-accordion-1'}
          #js-collapse-6.panel-collapse.collapse
            .panel-body
              %p
                This depends on the type of work you are getting, but in general a location is not suitable if:
                %ol
                  %li Your car is not accessible on all sides
                  %li Your car is not on a fairly flat surface
                  %li Your car is not in a reasonably well lit area
                Also keep in mind that if the car is parked on the street, a mechanic can only perform emergency road side assistance (inspections, jump starts etc.).
                %br
                We recommend getting your service done in your driveway, your garage, or in a parking lot.
        .nested-panel
          .panel-heading.clearfix
            %h4.panel-title
              = link_to 'How late can I cancel an appointment?','#js-collapse-7', class: 'accordion-toggle', data: {toggle: 'collapse', parent: '#js-accordion-1'}
          #js-collapse-7.panel-collapse.collapse
            .panel-body
              %p You can cancel anytime, however, should you cancel less than 24 hours before your appointment, you will be subject to a $25 cancellation fee. We always strive to be fair to both our customers and our mechanics, which is why we want to compensate them for the lost work.
        .nested-panel
          .panel-heading.clearfix
            %h4.panel-title
              = link_to 'What if the mechanic is late?','#js-collapse-8', class: 'accordion-toggle', data: {toggle: 'collapse', parent: '#js-accordion-1'}
          #js-collapse-8.panel-collapse.collapse
            .panel-body
              %p Please remember to allow 60 minutes for your mechanic to arrive. Sometimes mechanics may get caught in traffic or a previous job happens to take longer than expected. We do apologize if this is the case. If you have not heard from your mechanic by your appointment time, please give us a call at (number)  and we will help you with any issues. Should you need to reschedule, we will take care of this for you as well.
        .nested-panel
          .panel-heading.clearfix
            %h4.panel-title
              = link_to 'Do you do insurance work, warranty work or collision damage repair?','#js-collapse-9', class: 'accordion-toggle', data: {toggle: 'collapse', parent: '#js-accordion-1'}
          #js-collapse-9.panel-collapse.collapse
            .panel-body
              %p We currently do not do insurance or warranty work as a third party provider, nor do we take on collision damage repair.
        .nested-panel
          .panel-heading.clearfix
            %h4.panel-title
              = link_to 'I need a mechanic right away, but I can not see anyone available til tomorrow?','#js-collapse-10', class: 'accordion-toggle', data: {toggle: 'collapse', parent: '#js-accordion-1'}
          #js-collapse-10.panel-collapse.collapse
            .panel-body
              %p We are usually able to provide services with 24 hours notice, depending on parts and mechanics' availabilities. It may sometimes take a day or more to order the correct parts at good prices and mechanics need the notice to be prepared with the right tools for the day.
        .nested-panel
          .panel-heading.clearfix
            %h4.panel-title
              = link_to 'How soon can I get a mechanic?','#js-collapse-11', class: 'accordion-toggle', data: {toggle: 'collapse', parent: '#js-accordion-1'}
          #js-collapse-11.panel-collapse.collapse
            .panel-body
              %p
                Tomorrow! Depending on mechanic and parts availability, we are usually able to provide services with 24 hours notice, though we tend to get booked a few days in advance. You can see the mechanics' availability on their profiles and before booking a service. We have mechanics available 7 days a week between 9am-7pm.
                %br
                If things are really urgent and you need same day service, don't hesitate to give us a call at (number) and we'll see what we can do for you.
        .nested-panel
          .panel-heading.clearfix
            %h4.panel-title
              = link_to 'Do you have a loyalty rewards program?','#js-collapse-12', class: 'accordion-toggle', data: {toggle: 'collapse', parent: '#js-accordion-1'}
          #js-collapse-12.panel-collapse.collapse
            .panel-body
              %p This is in the works. In the meantime you can take advantage of our referrals program and get a discount for each person you refer. Simply send out an invitation from your online account and when someone you refer uses us - we'll send a $25 gift certificate to both of you.
        .nested-panel
          .panel-heading.clearfix
            %h4.panel-title
              = link_to 'Where can the mechanic fix my car?','#js-collapse-13', class: 'accordion-toggle', data: {toggle: 'collapse', parent: '#js-accordion-1'}
          #js-collapse-13.panel-collapse.collapse
            .panel-body
              %p We can perform any service in your driveway, garage or a parking lot. If your car is parked on the street, we are only allowed to perform diagnostics, inspections and emergency roadside services like, for instance, jumpstarts.
        .nested-panel
          .panel-heading.clearfix
            %h4.panel-title
              = link_to 'What type of services can mobile mechanics provide?','#js-collapse-14', class: 'accordion-toggle', data: {toggle: 'collapse', parent: '#js-accordion-1'}
          #js-collapse-14.panel-collapse.collapse
            .panel-body
              %p Our certified mobile mechanics carry all the tools, scanners and lifts to do all maintenance and basic repairs at your home or office, including brake work, timing belts, alternators, oil changes and much more. For large work like replacing an entire engine we recommend you take your vehicle to a shop. You can see a full list of services we provide here.
        .nested-panel
          .panel-heading.clearfix
            %h4.panel-title
              = link_to 'What are your hours?','#js-collapse-15', class: 'accordion-toggle', data: {toggle: 'collapse', parent: '#js-accordion-1'}
          #js-collapse-15.panel-collapse.collapse
            .panel-body
              %p Our mechanics are available to you 7 days a week, between 9am-7pm. All mechanics make up their own schedule, so some work every day, while others work just weekends or evenings etc. You can see mechanic's availability while booking online and on their profiles. Our support staff is on call to help you with anything Mon-Fri between 8:30am-7pm and Sat-Sun 9am-5pm.
      %h4.hx-default Pricing and Fees
      #js-accordion-2.accordion.faq-accordion.panel-group
        .nested-panel
          .panel-heading.clearfix
            %h4.panel-title
              = link_to 'What is the cancellation fee and policy?','#js-collapse-16', class: 'accordion-toggle', data: {toggle: 'collapse', parent: '#js-accordion-2'}
          #js-collapse-16.panel-collapse.collapse
            .panel-body
              %p You are free to cancel anytime, however, should you cancel less than 24 hours before your appointment, you will be subject to a $25 cancellation fee. We always strive to be fair to both our customers and our mechanics, which is why we want to compensate them for the lost work.
        .nested-panel
          .panel-heading.clearfix
            %h4.panel-title
              = link_to 'Is there a fee to visit my home or place of work?','#js-collapse-17', class: 'accordion-toggle', data: {toggle: 'collapse', parent: '#js-accordion-2'}
          #js-collapse-17.panel-collapse.collapse
            .panel-body
              %p There is no additional fee, this is incorporated in our pricing.
        .nested-panel
          .panel-heading.clearfix
            %h4.panel-title
              = link_to 'Is there a fee to diagnose the car?','#js-collapse-18', class: 'accordion-toggle', data: {toggle: 'collapse', parent: '#js-accordion-2'}
          #js-collapse-18.panel-collapse.collapse
            .panel-body
              %p
                Yes, we do charge an inspection fee. We strive to always be fair to both our mechanics and our customers, which is why we choose to compensate our mechanics fairly for the time it takes them to come out and diagnose your issue.
                %br
                The inspection is in your best interest and ours. We want to be certain we provide you with the best possible experience, which is why we want to be sure we are offering the right service for your particular issue. The only way to be sure of what the issue is with your vehicle is to have our mechanic do a diagnostic. If your car is diagnosed by someone else, we can not be sure that the diagnosis is right, in which case we can not accept responsibility for a service not fixing your problem, which we don't want as we want to be sure we can provide you with perfect peace of mind when working with us.
        .nested-panel
          .panel-heading.clearfix
            %h4.panel-title
              = link_to 'Will I be charged if the mechanic can\'t figure out what\'s wrong with the car?','#js-collapse-19', class: 'accordion-toggle', data: {toggle: 'collapse', parent: '#js-accordion-2'}
          #js-collapse-19.panel-collapse.collapse
            .panel-body
              %p No, we will not charge you if we are unable to determine the cause of your problem.
      %h4.hx-default Service Warranty & Guarantee
      #js-accordion-3.accordion.faq-accordion.panel-group
        .nested-panel
          .panel-heading.clearfix
            %h4.panel-title
              = link_to 'What if the service you perform does not fix my car?','#js-collapse-20', class: 'accordion-toggle', data: {toggle: 'collapse', parent: '#js-accordion-3'}
          #js-collapse-20.panel-collapse.collapse
            .panel-body
              %p
                In the event that you have an issue with a service, please get in touch with our service staff via email or by calling us at (number). If there are any defects in workmanship or parts, we will work with you to resolve the issue at no further cost to you.
                %br
                Please note that in cases where someone other than our mechanic has diagnosed the initial problem, we cannot assume responsibility for a service that does not fix the issue.
        .nested-panel
          .panel-heading.clearfix
            %h4.panel-title
              = link_to 'Do you do insurance work, warranty work or collision damage repair?','#js-collapse-21', class: 'accordion-toggle', data: {toggle: 'collapse', parent: '#js-accordion-3'}
          #js-collapse-21.panel-collapse.collapse
            .panel-body
              %p We currently do not perform insurance or warranty work as a third party provider, nor do we take on collision damage repair.
        .nested-panel
          .panel-heading.clearfix
            %h4.panel-title
              = link_to 'Do I get a receipt and service record? How do I know I won\'t be ripped off?','#js-collapse-22', class: 'accordion-toggle', data: {toggle: 'collapse', parent: '#js-accordion-3'}
          #js-collapse-22.panel-collapse.collapse
            .panel-body
              %p We will only charge you once the service is complete. Remember, you always have the possibility to go over all issues and ask the mechanic questions after the service. We also provide you with a receipt online and a service record.
      %h4.hx-default Payment
      #js-accordion-4.accordion.faq-accordion.panel-group
        .nested-panel
          .panel-heading.clearfix
            %h4.panel-title
              = link_to 'Am I expected to tip the mechanic? Is it allowed?','#js-collapse-23', class: 'accordion-toggle', data: {toggle: 'collapse', parent: '#js-accordion-4'}
          #js-collapse-23.panel-collapse.collapse
            .panel-body
              %p Our mechanics do not expect an additional gratuity. Some customers wish to express their appreciation for exceptional service and that can be accomplished either directly to the mechanic or you can let us know and a tip can be added to your bill.
        .nested-panel
          .panel-heading.clearfix
            %h4.panel-title
              = link_to 'I don\'t want to give out my credit card information; do I have to?','#js-collapse-24', class: 'accordion-toggle', data: {toggle: 'collapse', parent: '#js-accordion-4'}
          #js-collapse-24.panel-collapse.collapse
            .panel-body
              %p Though you can pay with cash when the mechanic completes the service, like booking a rental car, when you book a Mechanio appointment, you must guarantee the booking with a credit card. Be assured, the security of your information is very important to us. Your encrypted credit card number cannot be seen by anyone at Mechanio.
        .nested-panel
          .panel-heading.clearfix
            %h4.panel-title
              = link_to 'Where can I find my receipt?','#js-collapse-25', class: 'accordion-toggle', data: {toggle: 'collapse', parent: '#js-accordion-4'}
          #js-collapse-25.panel-collapse.collapse
            .panel-body
              %p
                Your receipt can be found on your online account. After your service is complete, we send you an email with links to your printable online receipt and service record. To view, simply log in to your account with your credentials (sent to you when you requested a quote or signed up).
                %br
                If you're having trouble logging in, try resetting your password by clicking the "Forgot password" link or give us a call.
        .nested-panel
          .panel-heading.clearfix
            %h4.panel-title
              = link_to 'How do I pay for the service?','#js-collapse-26', class: 'accordion-toggle', data: {toggle: 'collapse', parent: '#js-accordion-4'}
          #js-collapse-26.panel-collapse.collapse
            .panel-body
              %p We ask for a credit card when you schedule an appointment, however, we only process payment after the work is complete. You may also pay the mechanic in cash if you prefer.
      %h4.hx-default About Our Mechanics
      #js-accordion-5.accordion.faq-accordion.panel-group
        .nested-panel
          .panel-heading.clearfix
            %h4.panel-title
              = link_to 'How are the mechanics screened?','#js-collapse-27', class: 'accordion-toggle', data: {toggle: 'collapse', parent: '#js-accordion-5'}
          #js-collapse-27.panel-collapse.collapse
            .panel-body
              %p
                Each mechanic is certified and goes through an intense background screening and has at least 10 years of experience in the field.
                %br
                We think total transparency is utterly important. With us, you can see our mechanics’ ratings, customer reviews, the types of cars they work on, and the jobs they have done in the past. Only 5% of applicants make it through our rigorous screening process, which includes background and reference checks—so you can be sure the mechanic you hire will get the job done right.
              %p What's more, we are not just a booking service, we take care of your needs every step of the way. That is why we work so hard to vet our mechanics and our support team is always here to help. We believe in what we do and back all our services with a 12-month/12 000 mile service guarantee as well as proper liability insurance should anything go askew - rest assured, we've got your and our mechanic's back.
        .nested-panel
          .panel-heading.clearfix
            %h4.panel-title
              = link_to 'I want a Honda / Ford / BMW / Toyota .. specialist. Do you have mechanics specialized in certain car makes?','#js-collapse-28', class: 'accordion-toggle', data: {toggle: 'collapse', parent: '#js-accordion-5'}
          #js-collapse-28.panel-collapse.collapse
            .panel-body
              %p Many of our mechanics have factory training with certain brands and have specialized in certain types of cars. You can see their particular strengths and expertise on their profiles as well as reviews from previous customers.
        .nested-panel
          .panel-heading.clearfix
            %h4.panel-title
              = link_to 'Are the mechanics certified?','#js-collapse-29', class: 'accordion-toggle', data: {toggle: 'collapse', parent: '#js-accordion-5'}
          #js-collapse-29.panel-collapse.collapse
            .panel-body
              %p Yes!
        .nested-panel
          .panel-heading.clearfix
            %h4.panel-title
              = link_to 'Are the mechanics employees?','#js-collapse-30', class: 'accordion-toggle', data: {toggle: 'collapse', parent: '#js-accordion-5'}
          #js-collapse-30.panel-collapse.collapse
            .panel-body
              %p No, all our mechanics work as independent contractors. We back them with our 12-month/12,000 mile service warranty as well as proper liability insurance.
        .nested-panel
          .panel-heading.clearfix
            %h4.panel-title
              = link_to 'I am concerned that the mechanic is selling me things that I don\'t need. What can I do?','#js-collapse-31', class: 'accordion-toggle', data: {toggle: 'collapse', parent: '#js-accordion-5'}
          #js-collapse-31.panel-collapse.collapse
            .panel-body
              %p Please don't hesitate to give our support team a call for a second opinion. We have mechanics on our support team who are dedicated to providing free advice to our members. You can always contact us for a second opinion.
        .nested-panel
          .panel-heading.clearfix
            %h4.panel-title
              = link_to 'I am a mechanic. How can I get more information and join?','#js-collapse-32', class: 'accordion-toggle', data: {toggle: 'collapse', parent: '#js-accordion-5'}
          #js-collapse-32.panel-collapse.collapse
            .panel-body
              %p If you would like to join our service, please send us your resume to jobs (at) mechanio.com. For more information take a look at our jobs section and feel free to give us a call with any questions.
      %h4.hx-default Inspections and Diagnoses
      #js-accordion-6.accordion.faq-accordion.panel-group
        .nested-panel
          .panel-heading.clearfix
            %h4.panel-title
              = link_to 'I think I know the problem; do I have to get an inspection?','#js-collapse-33', class: 'accordion-toggle', data: {toggle: 'collapse', parent: '#js-accordion-6'}
          #js-collapse-33.panel-collapse.collapse
            .panel-body
              %p
                We recommend that you get an inspection to be certain of the problem. The inspection is in your best interest and ours. We want to be certain we provide you with the best possible experience, which is why we want to be sure we are offering the right service for your car’s particular issue. The only way to be certain of your car’s issue is to have our mechanic do a diagnostic inspection. If your car is diagnosed by someone else, we cannot be sure that the diagnosis is correct and in that case, we would not accept responsibility for a service not fixing the problem. We, of course, want to avoid this in order to provide you with the best possible experience.
                %br
                However, if you're certain you know the problem, we can also send the mechanic out with your parts. When the mechanic arrives, they will diagnose your vehicle to make sure they are fixing the right problem. If the stated issue is not the problem, they will give you a correct diagnosis and charge you only the inspection fee.
        .nested-panel
          .panel-heading.clearfix
            %h4.panel-title
              = link_to 'My car is not starting and I need an inspection, but I\'m sure it\'s the starter. Can the mechanic bring a starter just in case?','#js-collapse-34', class: 'accordion-toggle', data: {toggle: 'collapse', parent: '#js-accordion-6'}
          #js-collapse-34.panel-collapse.collapse
            .panel-body
              %p Yes, the mechanic can bring a starter. When the mechanic comes to your location, they will diagnose the vehicle to make sure that the starter is bad. If the starter is not the problem, we will give you a correct diagnosis and charge you the inspection fee.
        .nested-panel
          .panel-heading.clearfix
            %h4.panel-title
              = link_to 'Does my $75 go towards the repair?','#js-collapse-35', class: 'accordion-toggle', data: {toggle: 'collapse', parent: '#js-accordion-6'}
          #js-collapse-35.panel-collapse.collapse
            .panel-body
              %p We strive to always be fair to both our mechanics and our customers, which is why we choose to compensate our mechanics fairly for the time it takes them to come out and diagnose your issue. Therefore, we do not currently waive this fee. In cases where your issue is a quick fix that the mechanic can take care of right then and there we do count this towards the repair.
        .nested-panel
          .panel-heading.clearfix
            %h4.panel-title
              = link_to 'Why should I pay $75 for an inspection?','#js-collapse-36', class: 'accordion-toggle', data: {toggle: 'collapse', parent: '#js-accordion-6'}
          #js-collapse-36.panel-collapse.collapse
            .panel-body
              %p The inspection is in your best interest and ours. We want to be certain we provide you with the best possible experience, which is why we want to be sure we are offering the right service for your particular issue. The only way to be sure of what the issue is with your vehicle is to have our mechanic do a diagnostic. If your car is diagnosed by someone else, we can not be sure that the diagnosis is right, in which case we can not accept responsibility for a service not fixing your problem, which we don't want as we want to be sure we can provide you with perfect peace of mind when working with us.
        .nested-panel
          .panel-heading.clearfix
            %h4.panel-title
              = link_to 'What does the inspection cover?','#js-collapse-37', class: 'accordion-toggle', data: {toggle: 'collapse', parent: '#js-accordion-6'}
          #js-collapse-37.panel-collapse.collapse
            .panel-body
              %p When a mechanic comes out to inspect and diagnose your vehicle, he won't just take a look at the issue at hand, he will also conduct a general inspection of your car to make sure he gets a broad view of its condition.
        .nested-panel
          .panel-heading.clearfix
            %h4.panel-title
              = link_to 'Why can\'t you tell me over the phone what\'s wrong with the car?','#js-collapse-38', class: 'accordion-toggle', data: {toggle: 'collapse', parent: '#js-accordion-6'}
          #js-collapse-38.panel-collapse.collapse
            .panel-body
              %p It is impossible for us to diagnose your car with certainty over the phone, just as a doctor won't be able to tell you with certainty why you are ill unless you make a visit to the doctor's office, or as in our case, they make a house call.
        .nested-panel
          .panel-heading.clearfix
            %h4.panel-title
              = link_to 'If the mechanic comes out and diagnoses my car, do I get that fee waived if I get the recommended work done with you?','#js-collapse-39', class: 'accordion-toggle', data: {toggle: 'collapse', parent: '#js-accordion-6'}
          #js-collapse-39.panel-collapse.collapse
            .panel-body
              %p We strive to always be fair to both our mechanics and our customers, which is why we choose to compensate our mechanics fairly for the time it takes them to come out and diagnose your issue. Therefore, we do not currently waive this fee.
        .nested-panel
          .panel-heading.clearfix
            %h4.panel-title
              = link_to 'Do I have to get my car fixed by Mechanio after an inspection or diagnosis?','#js-collapse-40', class: 'accordion-toggle', data: {toggle: 'collapse', parent: '#js-accordion-6'}
          #js-collapse-40.panel-collapse.collapse
            .panel-body
              %p
                No, you can get your car fixed wherever you prefer.
        .nested-panel
          .panel-heading.clearfix
            %h4.panel-title
              = link_to 'What if the mechanic misdiagnoses the problem?','#js-collapse-41', class: 'accordion-toggle', data: {toggle: 'collapse', parent: '#js-accordion-6'}
          #js-collapse-41.panel-collapse.collapse
            .panel-body
              %p
                We work very hard to always be fair to both our mechanics and our customers. If we have made a mistake, rest assured, we will admit it and right our wrong. Remember, you can always call in for a second opinion and our support team is here to help.
        .nested-panel
          .panel-heading.clearfix
            %h4.panel-title
              = link_to 'Do I pay if the mechanic is not able to diagnose the car?','#js-collapse-42', class: 'accordion-toggle', data: {toggle: 'collapse', parent: '#js-accordion-6'}
          #js-collapse-42.panel-collapse.collapse
            .panel-body
              %p
                No, we will not charge you if we are unable to determine the cause of your problem.
