.col-md-12
  .panel.panel-default.panel-rounded
    .panel-body
      %h4.hx-default Frequently Asked Questions
      #js-accordion.accordion.faq-accordion.panel-group
        .nested-panel
          .panel-heading.clearfix
            %h4.panel-title
              = link_to '01 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo','#js-collapse-one', class: 'accordion-toggle', data: {toggle: 'collapse', parent: '#js-accordion'}
          #js-collapse-one.panel-collapse.collapse.in
            .panel-body
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in,
        .nested-panel
          .panel-heading.clearfix
            %h4.panel-title
              = link_to ' 02 Vivamus elementum semper nisi. Aenean vulputate eleifend tellus','#js-collapse-two', class: 'accordion-toggle', data: {toggle: 'collapse', parent: '#js-accordion'}
          #js-collapse-two.panel-collapse.collapse
            .panel-body
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in,
        .nested-panel
          .panel-heading.clearfix
            %h4.panel-title
              = link_to ' 03 Quisque rutrum. Aenean imperdiet. Etiam ultricies','#js-collapse-three', class: 'accordion-toggle', data: {toggle: 'collapse', parent: '#js-accordion'}
          #js-collapse-three.panel-collapse.collapse
            .panel-body
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in,
        .nested-panel
          .panel-heading.clearfix
            %h4.panel-title
              = link_to ' 04 Etiam rhoncus.','#js-collapse-four', class: 'accordion-toggle', data: {toggle: 'collapse', parent: '#js-accordion'}
          #js-collapse-four.panel-collapse.collapse
            .panel-body
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in,
        .nested-panel
          .panel-heading.clearfix
            %h4.panel-title
              = link_to ' 05 Maecenas nec odio et ante tincidunt tempus ','#js-collapse-five', class: 'accordion-toggle', data: {toggle: 'collapse', parent: '#js-accordion'}
          #js-collapse-five.panel-collapse.collapse
            .panel-body
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in,
        .nested-panel
          .panel-heading.clearfix
            %h4.panel-title
              = link_to ' 06 Nullam quis ante','#js-collapse-six', class: 'accordion-toggle', data: {toggle: 'collapse', parent: '#js-accordion'}
          #js-collapse-six.panel-collapse.collapse
            .panel-body
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in,
        .nested-panel
          .panel-heading.clearfix
            %h4.panel-title
              = link_to ' 07 Donec sodales sagittis magna. ','#js-collapse-seven', class: 'accordion-toggle', data: {toggle: 'collapse', parent: '#js-accordion'}
          #js-collapse-seven.panel-collapse.collapse
            .panel-body
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in,
        .nested-panel
          .panel-heading.clearfix
            %h4.panel-title
              = link_to ' 08 Sed consequat, leo eget bibendum sodales ','#js-collapse-eight', class: 'accordion-toggle', data: {toggle: 'collapse', parent: '#js-accordion'}
          #js-collapse-eight.panel-collapse.collapse
            .panel-body
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in,
