.clearfix

- if @job.estimate_deleted?
  %span.text-danger
    ESTIMATE DELETED BY USER. Reason:
    = t @job.delete_reason, scope: 'simple_form.options.job.delete_reason'
    %br
    = @job.delete_reason_other

%hr

= f.submit 'Save Changes', class: 'btn btn-success pull-right'

- if @job.can_cancel?
  = link_to 'Cancel Job', cancel_admins_job_path(@job), class: 'btn btn-danger', data: {confirm: 'Are you sure?'}

- if @job.can_complete?
  = link_to 'Complete Job', complete_admins_job_path(@job), class: 'btn btn-success', data: {confirm: 'Are you sure?'}
