%h4 Job and Labour

= simple_form_for [:admins, @job], html: { 'ng-controller' => 'JobsController', 'ng-init' => "init({job: #{@job.to_json}, hourly_rate: #{Labour::HOURLY_RATE}, service_plans: #{@service_plans_json}})" } do |f|

  .tasks.clearfix
    .panel.panel-default.panel-rounded.task.clearfix{ 'ng-repeat' => 'task in job.tasks', 'ng-hide' => 'task.isDeleted()' }
      = render partial: 'task', locals: { f: f }

  .pull-right
    .grand-total
      %dl.dl-horizontal
        %dt Job total
        %dd {{job.total() | cost_or_pending}}

  .pull-left
    %a.btn.btn-sm.btn-primary{ href: '', 'ng-disabled' => 'job.hasService()', 'ng-click' => 'job.addTask("Service")' } Add service
    %a.btn.btn-sm.btn-primary{ href: '', 'ng-click' => 'job.addTask("Repair")' } Add repair

  .clearfix
  %hr

  = f.submit 'Save Changes', class: 'btn btn-success pull-right'
  = link_to 'Delete Job', admins_job_path(@job), method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure?'}