%tr
  %td= job.uid
  %td= job_status(job.status)
  %td= job.title
  %td
    = job.client_name
    %br
    %span.small= job.created_at.to_s(:date) 
  %td
    - if job.mechanic
      = job.mechanic.full_name
      %br
      %span.small= job.scheduled_at.to_s(:date_time)
    - else
      unassigned
  %td= suburb_with_postcode(job.location)
  %td= formatted_cost(job.final_cost)
  %td= link_to 'Edit', edit_admins_job_path(job)
