%p.pull-right
  %strong Requested by
  = link_to @job.user.full_name, [:admins, @job.user]
  on
  = @job.created_at.to_s(:short)

%h4
  = @job.title
  = job_status(@job.status)

%h5
  = @job.car.display_title

- if @job.mechanic
  %p
    Assigned to
    = link_to @job.mechanic.full_name, [:admins, @job.mechanic]

%hr

= render 'form'
