= render 'admins/jobs/header'

%ul.nav.nav-tabs
  %li.active= link_to 'General info', '#general_info', 'data-toggle' => 'tab'
  %li= link_to 'Job and labour', '#job_and_labour', 'data-toggle' => 'tab'
  %li= link_to 'Feedback', '#feedback', 'data-toggle' => 'tab'
  - if @job.completed?
    %li= link_to 'Payout', '#payout', 'data-toggle' => 'tab'

- ng_init = { job: @job, hourly_rate: Labour::HOURLY_RATE, service_plans: @service_plans_json }

.tab-content
  #general_info.tab-pane.active
    = job_form @job, ng_init do |f|
      = render 'admins/jobs/tabs/general_info', f: f
      = render 'admins/jobs/bottom_bar', f: f
  #job_and_labour.tab-pane
    = job_form @job, ng_init do |f|
      = render 'admins/jobs/tabs/job_and_labour', f: f
      = render 'admins/jobs/bottom_bar', f: f
  #feedback.tab-pane
    = render 'admins/jobs/tabs/feedback'
  - if @job.completed?
    #payout.tab-pane
      = render 'admins/jobs/tabs/payout'

