%h4.pull-right ID: #{@job.uid}
%h4
  = @job.title
  = job_status(@job.status)

%hr

%ul.nav.nav-tabs
  %li.active= link_to 'General info', '#general_info', 'data-toggle' => 'tab'
  %li= link_to 'Job and labour', '#job_and_labour', 'data-toggle' => 'tab'

= simple_form_for [:admins, @job], html: { 'ng-controller' => 'JobsController', 'ng-init' => "init({job: #{@job.to_json}, hourly_rate: #{Labour::HOURLY_RATE}, service_plans: #{@service_plans_json}})" } do |f|
  .tab-content
    #general_info.tab-pane.active= render 'admins/jobs/tabs/general_info', f: f
    #job_and_labour.tab-pane= render 'admins/jobs/tabs/job_and_labour', f: f

  .clearfix
  %hr
  = f.submit 'Save Changes', class: 'btn btn-success pull-right'
  = link_to 'Delete Job', admins_job_path(@job), method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure?'}
