%h4 Jobs list

:javascript
  $(function() {
    $('#status').change(function() {
      this.form.submit();
    });
  });

= form_tag '?', method: :get do
  = label_tag "status", "Filter by status"
  = select_tag "status", options_for_select([["all", nil], "pending", "estimated", "assigned", "completed", "cancelled", "awaiting", "feedback"], @status)

.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th Status
        %th Location status
        %th Job name
        %th Date requested
        %th Requested by
        %th Allocated to
        %th Job date and time
        %th Cost
        %th Edit
    %tbody
      = render @jobs
= paginate @jobs
