%section.col-md-9.blog
  .panel.panel-default
    .panel-body
      %article.blog-article
        %h4.hx-default 
          Blog title here
          .pull-right.header-social
            = link_to '#' do
              %i.icon-facebook-sign
            = link_to '#' do
              %i.icon-twitter-sign
        %p
          10 Dec 2012
        %p
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. dunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem....
          = link_to 'read more', '#'
      %article.blog-article
        %h4.hx-default 
          Blog title here
          .pull-right.header-social
            = link_to '#' do
              %i.icon-facebook-sign
            = link_to '#' do
              %i.icon-twitter-sign
        %p
          10 Dec 2012
        %p
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. dunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem....
          = link_to 'read more', '#'
      %article.blog-article
        %h4.hx-default
          Blog title here
          .pull-right.header-social
            = link_to '#' do
              %i.icon-facebook-sign
            = link_to '#' do
              %i.icon-twitter-sign
        %p
          10 Dec 2012
        %p
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. dunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem....
          = link_to 'read more', '#'
%aside.col-md-3.blog
  .panel.panel-default.panel-rounded
    .panel-body
      %h5.hx-default Blog category
      %ul
        %li
          %i.icon-chevron-right
          = link_to '#' do
            Blog category
        %li
          %i.icon-chevron-right
          = link_to '#' do
            Blog category
        %li
          %i.icon-chevron-right
          = link_to '#' do
            Blog category
        %li
          %i.icon-chevron-right
          = link_to '#' do
            Blog category
        %li
          %i.icon-chevron-right
          = link_to '#' do
            Blog category
  .panel.panel-default.panel-rounded
    .panel-body
      %h5.hx-default Newest blogs
      %ul
        %li
          %i.icon-chevron-right
          = link_to '#' do
            Blog title here
        %li
          %i.icon-chevron-right
          = link_to '#' do
            Blog title here
        %li
          %i.icon-chevron-right
          = link_to '#' do
            Blog title here
        %li
          %i.icon-chevron-right
          = link_to '#' do
            Blog title here
  .panel.panel-default.panel-rounded
    .panel-body
      %h5.hx-default Topics
      %ul
        %li
          %i.icon-chevron-right
          = link_to '#' do
            Topic 1
        %li
          %i.icon-chevron-right
          = link_to '#' do
            Topic 2
        %li
          %i.icon-chevron-right
          = link_to '#' do
            Topic 3
        %li
          %i.icon-chevron-right
          = link_to '#' do
            Topic 4
