.panel.panel-default
  .panel-body
    %ul
      %h4.hx-default Mechanic Pages
      %li
        = link_to 'Profile', 'profile.html'
      %li
        = link_to 'Edit Mechanic Profile', '../mechanics/profile/edit'
      %li
        = link_to 'Mechanic Jobs', 'mechanic_jobs.html'
      %li
        = link_to 'Scheduled Job Details', 'scheduled-job-details.html'
      %li
        = link_to 'Mechanic Reschedule Job', 'mechanic_reschedule_job.html'
      %li
        = link_to 'Mechanic Completed Job', 'mechanic_completed_job.html'
      %li
        = link_to 'Add New Service', 'add_new_service.html'
      %li
        = link_to 'Mechanic settings', 'mechanic_settings.html'
      %li
      %h4.hx-default User Pages
      %li
        = link_to 'User dashboard', 'user_dashboard.html'
      %li
        = link_to 'User Appointments', 'user_appointments.html'
      %li
        = link_to 'User Estimates', 'user_estimates.html'
      %li
        User profile as mechanic
      %li
        = link_to 'Edit User Profile', '../users/profile/edit'
      %li
        User settings as mechanic
      %h4.hx-default Basic Pages
      %li
        = link_to 'Search result', 'search_result.html'
      %h4.hx-default Static Pages
      %li
        = link_to 'About us', 'about_us.html'
      %li
        = link_to 'FAQ', 'faq.html'
      %li
        = link_to 'Blog', 'blog.html'

