= render 'shared/mechanics_nav'
.col-md-9
  .row
    .col-md-12
      .panel.panel-default.panel-rounded
        .panel-heading.clearfix
          %h4.panel-title
            Edit Job
          %span.tools.pull-right
            = link_to '', '#js-collapse-one', class: 'glyphicon glyphicon-chevron-down accordion-toggle', data: {toggle: 'collapse', parent: '#accordion'}
        #js-collapse-one.panel-collapse.collapse.in
          .panel-body.clearfix
            %h4.hx-default Service 1
            .table-responsive.clearfix
              %table.table.table-bordered
                %thead
                  %tr.active
                    %th Job
                    %th Labour (Hrs:Mins)
                    %th Hourly Rate
                    %th GST
                    %th Total Time
                    %th Labor Total
                %tbody
                  %tr
                    %td Brake Removal
                    %td
                      .col-md-5.col-sm-5.col-xs-12
                        %select.form-control
                          %option 1
                      .col-md-1.col-sm-1.col-xs-12.vertical-align
                        %span :
                      .col-md-5.col-sm-5.col-xs-12
                        %select.form-control
                          %option 10
                    %td $58.50
                    %td $6.50
                    %td 1 hr : 30 min
                    %td $97.50 
            = link_to 'Add Labour', '#', class: 'btn btn-success pull-right bottom-margin'
            .table-responsive.clearfix
              %table.table.table-bordered
                %thead
                  %tr.active
                    %th Parts
                    %th Quantity
                    %th Price
                    %th GST
                    %th{colspan: '2'} Parts Total
                %tbody
                  %tr
                    %td Brake Pad
                    %td
                      .col-md-6.col-sm-6.col-xs-10
                        %input.form-control{value: '1'}
                    %td $ 100
                    %td $ 6.99
                    %td $ 106.99
                    %td
                      = link_to '#' do
                        %i.icon-remove
                  %tr
                    %td Brake Fluid
                    %td
                      .col-md-6.col-sm-6.col-xs-10
                        %input.form-control{value: '1'}
                    %td $ 100
                    %td $ 6.99
                    %td $ 106.99
                    %td
                      = link_to '#' do
                        %i.icon-remove
                  %tr
                    %td.text-right{colspan: '4'}
                      %b.text-right Total Cost:
                    %td
                      %b $ 213.98
                    %td
            = link_to 'Add Part', '#', class: 'btn btn-success pull-right bottom-margin'
            .clearfix
            %h4.hx-default Service 2
            .table-responsive.clearfix
              %table.table.table-bordered
                %thead
                  %tr.active
                    %th Job
                    %th Labour (Hrs:Mins)
                    %th Hourly Rate
                    %th GST
                    %th Total Time
                    %th Labor Total
                %tbody
                  %tr
                    %td Brake Removal
                    %td
                      .col-md-5.col-sm-5.col-xs-12
                        %select.form-control
                          %option 1
                      .col-md-1.col-sm-1.col-xs-12.vertical-align
                        %span :
                      .col-md-5.col-sm-5.col-xs-12
                        %select.form-control
                          %option 10
                    %td $58.50
                    %td $6.50
                    %td 1 hr : 30 min
                    %td $97.50 
            = link_to 'Add Labour', '#', class: 'btn btn-success pull-right bottom-margin'
            .table-responsive.clearfix
              %table.table.table-bordered
                %thead
                  %tr.active
                    %th Parts
                    %th Quantity
                    %th Price
                    %th GST
                    %th{colspan: '2'} Parts Total
                %tbody
                  %tr
                    %td Brake Pad
                    %td
                      .col-md-6.col-sm-6.col-xs-10
                        %input.form-control{value: '1'}
                    %td $ 100
                    %td $ 6.99
                    %td $ 106.99
                    %td
                      = link_to '#' do
                        %i.icon-remove
                  %tr
                    %td Brake Fluid
                    %td
                      .col-md-6.col-sm-6.col-xs-10
                        %input.form-control{value: '1'}
                    %td $ 100
                    %td $ 6.99
                    %td $ 106.99
                    %td
                      = link_to '#' do
                        %i.icon-remove
                  %tr
                    %td.text-right{colspan: "4"}
                      %b.text-right Total Cost:
                    %td
                      %b $ 213.98
                    %td
            .clearfix
              = link_to 'Add Part', '#', class: 'btn btn-success pull-right bottom-margin'
            .row
              .col-md-5.col-md-offset-7.col-sm-5.col-sm-offset-7.col-xs-12
                .table-responsive.clearfix
                  %table.table.table-bordered
                    %tbody
                      %tr
                        %th.active Labour + Parts
                        %td $ 287.75
                      %tr
                        %th.active GST
                        %td $ 23.73
                      %tr
                        %th.active Admin Fees
                        %td  
                      %tr
                        %th.active Total
                        %td $ 311.48 
            .tr-divider
            = link_to 'Update', '#js-modal', class: 'btn btn-success pull-right top-margin', data: {toggle: 'modal'}
            = link_to 'Back', '#', class: 'btn btn-default top-margin pull-right'
#js-modal.modal.fade{aria: {hidden: 'true', labelledby: 'modal-label'}, role: 'dialog'}
  .col-md-6.col-md-offset-3
    .panel.panel-default
      .panel-heading.clearfix
        %button.close{aria: {hidden: 'true'}, data: {dismiss: 'modal'}, type: "button"} ×
        %span#modal-label.pull-left Update Job
      .panel-body
        .col-md-12
          You have made changes in pricing. Press save
          to update prices and send an invoice to the client. Please note that
          this can only be done once.
      .panel-footer.clearfix
        = link_to 'Back', '#', class: 'btn btn-default pull-left', aria: {hidden: 'true'}, data: {dismiss: 'modal'}
        = link_to 'Save', '#', class: 'btn btn-success pull-right', aria: {hidden: 'true'}, data: {dismiss: 'modal'}
