%h4 Edit rating

.row
  .col-md-4
    .panel.panel-default.panel-rounded
      .panel-body.form-horizontal
        %h5= @job.title

        .pull-right
          %strong Cost
          %span= number_to_currency @job.final_cost

        %strong ID
        %span= @job.uid
        %hr

        %h5 Requested by
        %p= requested_by(@job)
        %hr

        %h5 Allocated to
        %p= allocated_to(@job)
        %hr

        %h5 Completed on
        %p= @job.completed_at.to_s(:date_time)
        %hr

        %h5 Location
        %p= @job.location.full_address
        %hr

        %h5 Vehicle
        %p
          #{@job.car.display_title}
          %br
          Last service: #{@job.car.last_service}
        %hr

        %h5 Contact
        %p
          #{@job.contact_email}
          %br
          #{@job.contact_phone}

  .col-md-8
    = render '/shared/feedback_form', form_action: admins_rating_path(@rating), rating: @rating, job: @rating.job
