.row
  = link_to 'Edit Profile', edit_mechanics_profile_path, class: 'btn btn-default pull-right'
.row
  .col-md-12
    .panel.panel-default
      .panel-heading.clearfix
        %h4.panel-title
          %i.glyphicon.glyphicon-user
          = current_mechanic.full_name
        %span.tools.pull-right
          = link_to '', '#js-collapse-one', class: 'glyphicon glyphicon-chevron-down accordion-toggle', :data => {:toggle => 'collapse', :parent => '#accordion'}
      #js-collapse-one.panel-collapse.collapse.in
        .panel-body.mechanic-panel-body
          .col-md-4
            .profile-border
              = image_tag current_mechanic.avatar? ? current_mechanic.avatar_url(:thumb) : 'photo.jpg', class: 'avatar'
              .reviews-row.clearfix
                .rating.pull-left
                  = rating_stars(2)
                %span.review-text.pull-right #{ pluralize current_mechanic.reviews, 'Review' }
          .col-md-8.panel.nested-panel
            = current_mechanic.description || 'Create some description'
