%div.form-inline.pull-right{ 'ng-show' => "adding_fixed_#{task.id}" }
  = t.simple_fields_for :task_items, TaskItem.new do |i|
    = i.hidden_field :itemable_type, value: 'FixedAmount'
    = i.label 'Fixed amount'
    = i.simple_fields_for :itemable, FixedAmount.new, defaults: { label: false } do |a|
      = a.input :description, placeholder: 'Description', input_html: { style: 'width: 395px' }
      = a.input :cost, placeholder: 'Cost', as: :string, input_html: { style: 'width: 90px' }
    = i.submit 'Add', class: 'btn btn-primary btn-sm'
    %a.btn.btn-danger.btn-sm{ href: '', 'ng-click' => "adding_fixed_#{task.id} = false" } Cancel
