%div.form-inline.labour-form{ 'ng-show' => "adding_labour_#{task.id}", 'ng-form' => "form_labour_#{task.id}" }
  = t.simple_fields_for :task_items, TaskItem.new do |i|
    = i.label 'Labour'
    = i.hidden_field :itemable_type, value: 'Labour'
    = i.simple_fields_for :itemable, Labour.new, defaults: { label: false } do |a|
      = a.input :description, placeholder: 'Description', as: :string, input_html: { required: true, 'ng-model' => "task_#{task.id}.labour.description" }
      = a.input :duration_hours, as: :select, collection: Labour::HOURS, include_blank: 'Hours', input_html: { class: 'input-sm labour-hours', required: true, 'ng-model' => "task_#{task.id}.labour.duration_hours" }
      %span :
      = a.input :duration_minutes, as: :select, collection: Labour::MINUTES, include_blank: 'Mins', input_html: { class: 'input-sm labour-minutes', required: true, 'ng-model' => "task_#{task.id}.labour.duration_minutes" }
    = i.submit 'Add', class: 'btn btn-primary btn-sm', 'ng-disabled' => "!form_labour_#{task.id}.$valid"
    %a.btn.btn-danger.btn-sm{ href: '', 'ng-click' => "adding_labour_#{task.id} = false" } Cancel