Hello, #{ @job.mechanic.full_name },
%br
A customer has requested you to repair or service their car. Please click #{ link_to 'here', mechanics_job_url(@job) } to view the allocated job in detail.
%br
CUSTOMER NAME: #{ @job.user.full_name }
%br
TIME AND DATE OF APPOINTMENT: #{ @job.scheduled_at.to_s(:date_time) }
%br
SERVICE LOCATION: #{ @job.location.full_address }
%br
CAR: #{ @job.car.display_title }
%br
JOBS: #{ @job.title }
%br
Need to make a change? Your mobile app is designed for busy mechanics to use on the fly – we suggest any changes in appointment time, or any job related changes can be made there. Otherwise, you can visit your #{ link_to 'Online Account', mechanics_job_url(@job) } to make these changes.
%br
If there are any issues please do not hesitate to contact support@mechanio.com or call #{ $CONTACT_PHONE }
%br
Kind Regards,
%br
The Mechanio Team.
