%p Hi #{@job.mechanic.first_name},

%p Congratulations! You've been requested for a job. Please click here #{link_to 'click here', mechanics_job_url(@job)} to view the job in detail.

%p
  CUSTOMER NAME: #{ @job.client_name }
  %br
  CUSTOMER MOBILE NUMBER: #{ @job.contact_phone }
  %br
  TIME AND DATE OF APPOINTMENT: #{ @job.scheduled_at.to_s(:date_time) }
  %br
  LOCATION: #{ @job.location.full_address }
  %br
  CAR: #{ @job.car.display_title }
  %br
  JOB: #{ @job.title }
  %br

%p
  After the customer signs off on the work on your mobile app, they will have an opportunity to leave a review. Highly rated mechanics, on average <strong>get more jobs</strong> on Mechanio. 

%p
  Here are some steps to get a five-star rating.

  %ul
    %li Always call the customer before you arrive – customers prefer a heads up, no surprises
    %li Communicate with your customer – 80% of our customers trust a mechanic more when they are informed of what’s being done on their car.
    %li Leave the site like what it was before – cleanliness is the top priority of our customers

%p
  %strong Help & Support

%p
  Don’t forget, we’re here to help and support you. You can:

  %ul
    %li Call us between 10am and 8PM, five days a week on 1300 766 781 
    %li Email support@mechanio.com

= render '/shared/mail_footer'
