%p Hello #{@job.mechanic.full_name},

%p A customer has requested an appointment. Please click #{link_to 'here', mechanics_job_url(@job)} to view the allocated job in detail.

%p
  CUSTOMER NAME: #{ @job.client_name }
  %br
  TIME AND DATE OF APPOINTMENT: #{ @job.scheduled_at.to_s(:date_time) }
  %br
  SERVICE LOCATION: #{ @job.location.full_address }
  %br
  CAR: #{ @job.car.display_title }
  %br
  JOBS: #{ @job.title }
  %br

%p Need to make a change? Your mobile app is designed for busy mechanics to use on the fly – we suggest any changes in appointment time, or any job related changes can be made there. 

%p Otherwise, you can visit your #{ link_to 'Online Account', mechanics_jobs_url } to make changes.

%p If there are any issues please do not hesitate to call (number)

= render '/shared/mail_footer'
