%p Hi #{ @mechanic.first_name },

%p
  Thank you for being a part of the Mechanio family. It will be our absolute pleasure helping you grow your mobile mechanic business. As a member, you'll have access to:

  %ul
    %li Thousands of paying customers
    %li A team that takes care of the marketing, administration and transactions
    %li easy-to-use scheduling tools to organise your jobs
    %li Feedback from Mechanio customers – build your business' reputation!

%p
  Here are some quick pointers to ensure you get your 1st five-star review:

  %ul
    %li
      %strong Call before you arrive:
      Before you arrive, call the customer to inform your arrival time.
    %li
      %strong Always communicate:
      Taking the time out to explain what work you're performing. This will help you to gain their trust. 
    %li
      %strong Go above and beyond with the little things:
      Always go the extra mile for your customers – this will definitely help you get that five-star rating. 

%p Below are your details for your Online Account. Head to #{ link_to new_mechanic_session_url, new_mechanic_session_url } and use:

%p
  Username: #{ @mechanic.email }
  %br
  Password: #{ @password }

%p Your password can be changed any time after you log in.

= render '/shared/mail_footer'
