.navbar.navbar-default{ role: 'navigation' }
  .container
    = link_to 'Mechanio', admin_dashboard_path, class: 'navbar-brand'
    - if admin_signed_in?
      = link_to 'Logout', destroy_admin_session_path, method: :delete, class: 'btn btn-default navbar-btn pull-right'
      %ul.nav.navbar-nav.navbar-left
        %li= link_to 'Users', admin_users_path
        %li= link_to 'Mechanics', admin_mechanics_path
        %li= link_to 'Car models', admin_model_variations_path
    - else
      = link_to 'Login', new_admin_session_path, class: 'btn btn-default navbar-btn'
