!!!
%html{ 'ng-app' => 'mechanio' }
  = render 'layouts/head'
  %body
    .wrap
      = render 'shared/header'
      .container
        = render 'shared/flash_messages'
        = yield
    = render 'shared/footer'
